<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.page.mapper.PageCategoryConfigMapper" >
  <resultMap id="BaseResultMap" type="com.wow.page.model.PageCategoryConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="page_type" property="pageType" jdbcType="TINYINT" />
    <result column="page_module_type" property="pageModuleType" jdbcType="TINYINT" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="sort_order" property="sortOrder" jdbcType="TINYINT" />
    <result column="category_bgimg" property="categoryBgimg" jdbcType="VARCHAR" />
    <result column="valid_from" property="validFrom" jdbcType="TIMESTAMP" />
    <result column="valid_to" property="validTo" jdbcType="TIMESTAMP" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT" />
  </resultMap>
  <resultMap id="CategoryResultMap" type="com.wow.page.vo.PageCategoryVo" >
    <id column="categoryId" property="categoryId" jdbcType="INTEGER" />
    <result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
    <result column="categoryBgImg" property="categoryBgImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, page_type, page_module_type, category_id, sort_order, category_bgimg, valid_from, 
    valid_to, is_enabled
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.page.model.PageCategoryConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from page_category_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from page_category_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from page_category_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.page.model.PageCategoryConfigExample" >
    delete from page_category_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.page.model.PageCategoryConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into page_category_config (page_type, page_module_type, category_id, 
      sort_order, category_bgimg, valid_from, 
      valid_to, is_enabled)
    values (#{pageType,jdbcType=TINYINT}, #{pageModuleType,jdbcType=TINYINT}, #{categoryId,jdbcType=INTEGER}, 
      #{sortOrder,jdbcType=TINYINT}, #{categoryBgimg,jdbcType=VARCHAR}, #{validFrom,jdbcType=TIMESTAMP}, 
      #{validTo,jdbcType=TIMESTAMP}, #{isEnabled,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.wow.page.model.PageCategoryConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into page_category_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pageType != null" >
        page_type,
      </if>
      <if test="pageModuleType != null" >
        page_module_type,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
      <if test="categoryBgimg != null" >
        category_bgimg,
      </if>
      <if test="validFrom != null" >
        valid_from,
      </if>
      <if test="validTo != null" >
        valid_to,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pageType != null" >
        #{pageType,jdbcType=TINYINT},
      </if>
      <if test="pageModuleType != null" >
        #{pageModuleType,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="categoryBgimg != null" >
        #{categoryBgimg,jdbcType=VARCHAR},
      </if>
      <if test="validFrom != null" >
        #{validFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="validTo != null" >
        #{validTo,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.page.model.PageCategoryConfigExample" resultType="java.lang.Integer" >
    select count(*) from page_category_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update page_category_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pageType != null" >
        page_type = #{record.pageType,jdbcType=TINYINT},
      </if>
      <if test="record.pageModuleType != null" >
        page_module_type = #{record.pageModuleType,jdbcType=TINYINT},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.sortOrder != null" >
        sort_order = #{record.sortOrder,jdbcType=TINYINT},
      </if>
      <if test="record.categoryBgimg != null" >
        category_bgimg = #{record.categoryBgimg,jdbcType=VARCHAR},
      </if>
      <if test="record.validFrom != null" >
        valid_from = #{record.validFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validTo != null" >
        valid_to = #{record.validTo,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isEnabled != null" >
        is_enabled = #{record.isEnabled,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update page_category_config
    set id = #{record.id,jdbcType=INTEGER},
      page_type = #{record.pageType,jdbcType=TINYINT},
      page_module_type = #{record.pageModuleType,jdbcType=TINYINT},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      sort_order = #{record.sortOrder,jdbcType=TINYINT},
      category_bgimg = #{record.categoryBgimg,jdbcType=VARCHAR},
      valid_from = #{record.validFrom,jdbcType=TIMESTAMP},
      valid_to = #{record.validTo,jdbcType=TIMESTAMP},
      is_enabled = #{record.isEnabled,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.page.model.PageCategoryConfig" >
    update page_category_config
    <set >
      <if test="pageType != null" >
        page_type = #{pageType,jdbcType=TINYINT},
      </if>
      <if test="pageModuleType != null" >
        page_module_type = #{pageModuleType,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="categoryBgimg != null" >
        category_bgimg = #{categoryBgimg,jdbcType=VARCHAR},
      </if>
      <if test="validFrom != null" >
        valid_from = #{validFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="validTo != null" >
        valid_to = #{validTo,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnabled != null" >
        is_enabled = #{isEnabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.page.model.PageCategoryConfig" >
    update page_category_config
    set page_type = #{pageType,jdbcType=TINYINT},
      page_module_type = #{pageModuleType,jdbcType=TINYINT},
      category_id = #{categoryId,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=TINYINT},
      category_bgimg = #{categoryBgimg,jdbcType=VARCHAR},
      valid_from = #{validFrom,jdbcType=TIMESTAMP},
      valid_to = #{validTo,jdbcType=TIMESTAMP},
      is_enabled = #{isEnabled,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByParentCategoryId" resultMap="CategoryResultMap" parameterType="map">
  	  select pcc.category_id as categoryId,pcc.category_bgimg as categoryBgImg,c.category_name as categoryName
  	   from page_category_config pcc 
  	   inner join category c on c.id=pcc.category_id
  	  where c.parent_category_id = #{categoryPid,jdbcType=INTEGER} and pcc.page_type = #{pageType,jdbcType=TINYINT}
  </select>
</mapper>