<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.user.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.wow.user.model.Area" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_area_id" property="parentAreaId" jdbcType="INTEGER" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="area_level" property="areaLevel" jdbcType="TINYINT" />
    <result column="is_leaf" property="isLeaf" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_area_id, area_name, area_level, is_leaf
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wow.user.model.Area" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into area (parent_area_id, area_name, area_level,
    is_leaf)
    values (#{parentAreaId,jdbcType=INTEGER}, #{areaName,jdbcType=VARCHAR}, #{areaLevel,jdbcType=TINYINT},
    #{isLeaf,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.wow.user.model.Area" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentAreaId != null" >
        parent_area_id,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="areaLevel != null" >
        area_level,
      </if>
      <if test="isLeaf != null" >
        is_leaf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentAreaId != null" >
        #{parentAreaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null" >
        #{areaLevel,jdbcType=TINYINT},
      </if>
      <if test="isLeaf != null" >
        #{isLeaf,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.user.model.Area" >
    update area
    <set >
      <if test="parentAreaId != null" >
        parent_area_id = #{parentAreaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null" >
        area_level = #{areaLevel,jdbcType=TINYINT},
      </if>
      <if test="isLeaf != null" >
        is_leaf = #{isLeaf,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.user.model.Area" >
    update area
    set parent_area_id = #{parentAreaId,jdbcType=INTEGER},
    area_name = #{areaName,jdbcType=VARCHAR},
    area_level = #{areaLevel,jdbcType=TINYINT},
    is_leaf = #{isLeaf,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectFirstLevelArea" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from area
    where area_level = 1
  </select>
  <select id="selectNextLevelArea" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from area
    where parent_area_id = #{areaId,jdbcType=INTEGER}
  </select>
</mapper>