<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.user.mapper.EndUserSessionMapper">
  <resultMap id="BaseResultMap" type="com.wow.user.model.EndUserSession">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="end_user_id" property="endUserId" jdbcType="INTEGER"/>
    <result column="session_token" property="sessionToken" jdbcType="VARCHAR"/>
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
    <result column="last_refresh_time" property="lastRefreshTime" jdbcType="TIMESTAMP"/>
    <result column="is_expired" property="isExpired" jdbcType="BIT"/>
    <result column="last_login_ip" property="lastLoginIp" jdbcType="INTEGER"/>
    <result column="user_agent_info" property="userAgentInfo" jdbcType="VARCHAR"/>
    <result column="is_active" property="isActive" jdbcType="BIT"/>
    <result column="logout_time" property="logoutTime" jdbcType="TIMESTAMP"/>
    <result column="login_channel" property="loginChannel" jdbcType="TINYINT"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, end_user_id, session_token, last_login_time, last_refresh_time, is_expired, last_login_ip,
    user_agent_info, is_active, logout_time, login_channel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from end_user_session
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.wow.user.model.EndUserSession">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into end_user_session (end_user_id, session_token, last_login_time,
    last_refresh_time, is_expired, last_login_ip,
    user_agent_info, is_active, logout_time,
    login_channel)
    values (#{endUserId,jdbcType=INTEGER}, #{sessionToken,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP},
    #{lastRefreshTime,jdbcType=TIMESTAMP}, #{isExpired,jdbcType=BIT}, #{lastLoginIp,jdbcType=INTEGER},
    #{userAgentInfo,jdbcType=VARCHAR}, #{isActive,jdbcType=BIT}, #{logoutTime,jdbcType=TIMESTAMP},
    #{loginChannel,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wow.user.model.EndUserSession">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into end_user_session
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="endUserId != null">
        end_user_id,
      </if>
      <if test="sessionToken != null">
        session_token,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="lastRefreshTime != null">
        last_refresh_time,
      </if>
      <if test="isExpired != null">
        is_expired,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="userAgentInfo != null">
        user_agent_info,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="logoutTime != null">
        logout_time,
      </if>
      <if test="loginChannel != null">
        login_channel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="endUserId != null">
        #{endUserId,jdbcType=INTEGER},
      </if>
      <if test="sessionToken != null">
        #{sessionToken,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastRefreshTime != null">
        #{lastRefreshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExpired != null">
        #{isExpired,jdbcType=BIT},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=INTEGER},
      </if>
      <if test="userAgentInfo != null">
        #{userAgentInfo,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="logoutTime != null">
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginChannel != null">
        #{loginChannel,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>