[Unit]
Description=wowdsgn
After=syslog.target

[Service]
User=root
WorkingDirectory=/data/server/mobile-api
ExecStart=/usr/local/java/bin/java -jar /data/server/mobile-api-1.0-SNAPSHOT.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
