<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.attribute.mapper.AttributeMapper" >
  <resultMap id="BaseResultMap" type="com.wow.attribute.model.Attribute" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="attribute_name" property="attributeName" jdbcType="VARCHAR" />
    <result column="show_name" property="showName" jdbcType="VARCHAR" />
    <result column="can_multiple_selected" property="canMultipleSelected" jdbcType="BIT" />
    <result column="attribute_value_type" property="attributeValueType" jdbcType="TINYINT" />
    <result column="decimal_place" property="decimalPlace" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, attribute_name, show_name, can_multiple_selected, attribute_value_type, decimal_place, 
    create_time, create_by, update_time, update_by, is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.attribute.model.AttributeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from attribute
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from attribute
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAttributeByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from attribute
    where attribute_name = #{attributeName,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from attribute
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from attribute
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List" >
    delete from attribute
    where id IN
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.attribute.model.AttributeExample" >
    delete from attribute
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.attribute.model.Attribute" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into attribute (attribute_name, show_name, can_multiple_selected, 
      attribute_value_type, decimal_place, create_time, 
      create_by, update_time, update_by, 
      is_deleted)
    values (#{attributeName,jdbcType=VARCHAR}, #{showName,jdbcType=VARCHAR}, #{canMultipleSelected,jdbcType=BIT}, 
      #{attributeValueType,jdbcType=TINYINT}, #{decimalPlace,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into attribute (attribute_name, show_name, can_multiple_selected,
    attribute_value_type, decimal_place, create_time,
    create_by, update_time, update_by,
    is_deleted)
    values
    <foreach collection="list" item="item" index="index"  separator="," >
      (#{item.attributeName,jdbcType=VARCHAR}, #{item.showName,jdbcType=VARCHAR}, #{item.canMultipleSelected,jdbcType=BIT},
      #{item.attributeValueType,jdbcType=TINYINT}, #{item.decimalPlace,jdbcType=TINYINT}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.createBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR},
      #{item.isDeleted,jdbcType=BIT})
    </foreach>

  </insert>
  <insert id="insertSelective" parameterType="com.wow.attribute.model.Attribute" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into attribute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attributeName != null" >
        attribute_name,
      </if>
      <if test="showName != null" >
        show_name,
      </if>
      <if test="canMultipleSelected != null" >
        can_multiple_selected,
      </if>
      <if test="attributeValueType != null" >
        attribute_value_type,
      </if>
      <if test="decimalPlace != null" >
        decimal_place,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attributeName != null" >
        #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null" >
        #{showName,jdbcType=VARCHAR},
      </if>
      <if test="canMultipleSelected != null" >
        #{canMultipleSelected,jdbcType=BIT},
      </if>
      <if test="attributeValueType != null" >
        #{attributeValueType,jdbcType=TINYINT},
      </if>
      <if test="decimalPlace != null" >
        #{decimalPlace,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.attribute.model.AttributeExample" resultType="java.lang.Integer" >
    select count(*) from attribute
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update attribute
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.attributeName != null" >
        attribute_name = #{record.attributeName,jdbcType=VARCHAR},
      </if>
      <if test="record.showName != null" >
        show_name = #{record.showName,jdbcType=VARCHAR},
      </if>
      <if test="record.canMultipleSelected != null" >
        can_multiple_selected = #{record.canMultipleSelected,jdbcType=BIT},
      </if>
      <if test="record.attributeValueType != null" >
        attribute_value_type = #{record.attributeValueType,jdbcType=TINYINT},
      </if>
      <if test="record.decimalPlace != null" >
        decimal_place = #{record.decimalPlace,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update attribute
    set id = #{record.id,jdbcType=INTEGER},
      attribute_name = #{record.attributeName,jdbcType=VARCHAR},
      show_name = #{record.showName,jdbcType=VARCHAR},
      can_multiple_selected = #{record.canMultipleSelected,jdbcType=BIT},
      attribute_value_type = #{record.attributeValueType,jdbcType=TINYINT},
      decimal_place = #{record.decimalPlace,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.attribute.model.Attribute" >
    update attribute
    <set >
      <if test="attributeName != null" >
        attribute_name = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null" >
        show_name = #{showName,jdbcType=VARCHAR},
      </if>
      <if test="canMultipleSelected != null" >
        can_multiple_selected = #{canMultipleSelected,jdbcType=BIT},
      </if>
      <if test="attributeValueType != null" >
        attribute_value_type = #{attributeValueType,jdbcType=TINYINT},
      </if>
      <if test="decimalPlace != null" >
        decimal_place = #{decimalPlace,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.attribute.model.Attribute" >
    update attribute
    set attribute_name = #{attributeName,jdbcType=VARCHAR},
      show_name = #{showName,jdbcType=VARCHAR},
      can_multiple_selected = #{canMultipleSelected,jdbcType=BIT},
      attribute_value_type = #{attributeValueType,jdbcType=TINYINT},
      decimal_place = #{decimalPlace,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>