<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.attribute.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.wow.attribute.model.Category">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
    <result column="parent_category_id" property="parentCategoryId" jdbcType="INTEGER"/>
    <result column="category_level" property="categoryLevel" jdbcType="TINYINT"/>
    <result column="category_desc" property="categoryDesc" jdbcType="VARCHAR"/>
    <result column="attribute_group_id" property="attributeGroupId" jdbcType="INTEGER"/>
    <result column="category_icon_small" property="categoryIconSmall" jdbcType="VARCHAR"/>
    <result column="category_icon_big" property="categoryIconBig" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, category_name, parent_category_id, category_level, category_desc, attribute_group_id,
    category_icon_small, category_icon_big
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.wow.attribute.model.Category">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category (category_name, parent_category_id, category_level,
    category_desc, attribute_group_id, category_icon_small,
    category_icon_big)
    values (#{categoryName,jdbcType=VARCHAR}, #{parentCategoryId,jdbcType=INTEGER}, #{categoryLevel,jdbcType=TINYINT},
    #{categoryDesc,jdbcType=VARCHAR}, #{attributeGroupId,jdbcType=INTEGER}, #{categoryIconSmall,jdbcType=VARCHAR},
    #{categoryIconBig,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wow.attribute.model.Category">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="parentCategoryId != null">
        parent_category_id,
      </if>
      <if test="categoryLevel != null">
        category_level,
      </if>
      <if test="categoryDesc != null">
        category_desc,
      </if>
      <if test="attributeGroupId != null">
        attribute_group_id,
      </if>
      <if test="categoryIconSmall != null">
        category_icon_small,
      </if>
      <if test="categoryIconBig != null">
        category_icon_big,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="parentCategoryId != null">
        #{parentCategoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel != null">
        #{categoryLevel,jdbcType=TINYINT},
      </if>
      <if test="categoryDesc != null">
        #{categoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="attributeGroupId != null">
        #{attributeGroupId,jdbcType=INTEGER},
      </if>
      <if test="categoryIconSmall != null">
        #{categoryIconSmall,jdbcType=VARCHAR},
      </if>
      <if test="categoryIconBig != null">
        #{categoryIconBig,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>