<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.common.mapper.CountryMapper" >
  <resultMap id="BaseResultMap" type="com.wow.common.model.Country" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cn_name" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryAllCountry" resultMap="BaseResultMap">
    select id,cn_name from country
  </select>

  <select id="queryCountryById" resultMap="BaseResultMap" parameterType="int">
    select id,cn_name from country where id=#{id}
  </select>
  
</mapper>