<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.product.mapper.ApplicableSceneMapper">
    <resultMap id="BaseResultMap" type="com.wow.product.model.ApplicableScene">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="applicable_scene_name" property="applicableSceneName" jdbcType="VARCHAR"/>
        <result column="applicable_scene_desc" property="applicableSceneDesc" jdbcType="VARCHAR"/>
        <result column="is_active" property="isActive" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, applicable_scene_name, applicable_scene_desc, is_active, create_time, create_by,
        update_time, update_by, is_deleted
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from applicable_scene
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insert" parameterType="com.wow.product.model.ApplicableScene">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into applicable_scene (applicable_scene_name, applicable_scene_desc,
        is_active, create_time, create_by,
        update_time, update_by, is_deleted
        )
        values (#{applicableSceneName,jdbcType=VARCHAR}, #{applicableSceneDesc,jdbcType=VARCHAR},
        #{isActive,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.wow.product.model.ApplicableScene">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into applicable_scene
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applicableSceneName != null">
                applicable_scene_name,
            </if>
            <if test="applicableSceneDesc != null">
                applicable_scene_desc,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applicableSceneName != null">
                #{applicableSceneName,jdbcType=VARCHAR},
            </if>
            <if test="applicableSceneDesc != null">
                #{applicableSceneDesc,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
</mapper>