<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.product.mapper.BrandMapper" >
  <resultMap id="BaseResultMap" type="com.wow.product.model.Brand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand_cname" property="brandCname" jdbcType="VARCHAR" />
    <result column="brand_ename" property="brandEname" jdbcType="VARCHAR" />
    <result column="brand_name_first_letter" property="brandNameFirstLetter" jdbcType="CHAR" />
    <result column="brand_country" property="brandCountry" jdbcType="VARCHAR" />
    <result column="brand_home_url" property="brandHomeUrl" jdbcType="VARCHAR" />
    <result column="brand_logo_img" property="brandLogoImg" jdbcType="VARCHAR" />
    <result column="brand_video" property="brandVideo" jdbcType="VARCHAR" />
    <result column="brand_img" property="brandImg" jdbcType="VARCHAR" />
    <result column="brand_desc" property="brandDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, brand_cname, brand_ename, brand_name_first_letter, brand_country, brand_home_url, 
    brand_logo_img, brand_video, brand_img, brand_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.product.model.BrandExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from brand
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from brand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.product.model.BrandExample" >
    delete from brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.product.model.Brand" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into brand (brand_cname, brand_ename, brand_name_first_letter, 
      brand_country, brand_home_url, brand_logo_img, 
      brand_video, brand_img, brand_desc
      )
    values (#{brandCname,jdbcType=VARCHAR}, #{brandEname,jdbcType=VARCHAR}, #{brandNameFirstLetter,jdbcType=CHAR}, 
      #{brandCountry,jdbcType=VARCHAR}, #{brandHomeUrl,jdbcType=VARCHAR}, #{brandLogoImg,jdbcType=VARCHAR}, 
      #{brandVideo,jdbcType=VARCHAR}, #{brandImg,jdbcType=VARCHAR}, #{brandDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wow.product.model.Brand" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brandCname != null" >
        brand_cname,
      </if>
      <if test="brandEname != null" >
        brand_ename,
      </if>
      <if test="brandNameFirstLetter != null" >
        brand_name_first_letter,
      </if>
      <if test="brandCountry != null" >
        brand_country,
      </if>
      <if test="brandHomeUrl != null" >
        brand_home_url,
      </if>
      <if test="brandLogoImg != null" >
        brand_logo_img,
      </if>
      <if test="brandVideo != null" >
        brand_video,
      </if>
      <if test="brandImg != null" >
        brand_img,
      </if>
      <if test="brandDesc != null" >
        brand_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brandCname != null" >
        #{brandCname,jdbcType=VARCHAR},
      </if>
      <if test="brandEname != null" >
        #{brandEname,jdbcType=VARCHAR},
      </if>
      <if test="brandNameFirstLetter != null" >
        #{brandNameFirstLetter,jdbcType=CHAR},
      </if>
      <if test="brandCountry != null" >
        #{brandCountry,jdbcType=VARCHAR},
      </if>
      <if test="brandHomeUrl != null" >
        #{brandHomeUrl,jdbcType=VARCHAR},
      </if>
      <if test="brandLogoImg != null" >
        #{brandLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="brandVideo != null" >
        #{brandVideo,jdbcType=VARCHAR},
      </if>
      <if test="brandImg != null" >
        #{brandImg,jdbcType=VARCHAR},
      </if>
      <if test="brandDesc != null" >
        #{brandDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.product.model.BrandExample" resultType="java.lang.Integer" >
    select count(*) from brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update brand
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.brandCname != null" >
        brand_cname = #{record.brandCname,jdbcType=VARCHAR},
      </if>
      <if test="record.brandEname != null" >
        brand_ename = #{record.brandEname,jdbcType=VARCHAR},
      </if>
      <if test="record.brandNameFirstLetter != null" >
        brand_name_first_letter = #{record.brandNameFirstLetter,jdbcType=CHAR},
      </if>
      <if test="record.brandCountry != null" >
        brand_country = #{record.brandCountry,jdbcType=VARCHAR},
      </if>
      <if test="record.brandHomeUrl != null" >
        brand_home_url = #{record.brandHomeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.brandLogoImg != null" >
        brand_logo_img = #{record.brandLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="record.brandVideo != null" >
        brand_video = #{record.brandVideo,jdbcType=VARCHAR},
      </if>
      <if test="record.brandImg != null" >
        brand_img = #{record.brandImg,jdbcType=VARCHAR},
      </if>
      <if test="record.brandDesc != null" >
        brand_desc = #{record.brandDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update brand
    set id = #{record.id,jdbcType=INTEGER},
      brand_cname = #{record.brandCname,jdbcType=VARCHAR},
      brand_ename = #{record.brandEname,jdbcType=VARCHAR},
      brand_name_first_letter = #{record.brandNameFirstLetter,jdbcType=CHAR},
      brand_country = #{record.brandCountry,jdbcType=VARCHAR},
      brand_home_url = #{record.brandHomeUrl,jdbcType=VARCHAR},
      brand_logo_img = #{record.brandLogoImg,jdbcType=VARCHAR},
      brand_video = #{record.brandVideo,jdbcType=VARCHAR},
      brand_img = #{record.brandImg,jdbcType=VARCHAR},
      brand_desc = #{record.brandDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.product.model.Brand" >
    update brand
    <set >
      <if test="brandCname != null" >
        brand_cname = #{brandCname,jdbcType=VARCHAR},
      </if>
      <if test="brandEname != null" >
        brand_ename = #{brandEname,jdbcType=VARCHAR},
      </if>
      <if test="brandNameFirstLetter != null" >
        brand_name_first_letter = #{brandNameFirstLetter,jdbcType=CHAR},
      </if>
      <if test="brandCountry != null" >
        brand_country = #{brandCountry,jdbcType=VARCHAR},
      </if>
      <if test="brandHomeUrl != null" >
        brand_home_url = #{brandHomeUrl,jdbcType=VARCHAR},
      </if>
      <if test="brandLogoImg != null" >
        brand_logo_img = #{brandLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="brandVideo != null" >
        brand_video = #{brandVideo,jdbcType=VARCHAR},
      </if>
      <if test="brandImg != null" >
        brand_img = #{brandImg,jdbcType=VARCHAR},
      </if>
      <if test="brandDesc != null" >
        brand_desc = #{brandDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.product.model.Brand" >
    update brand
    set brand_cname = #{brandCname,jdbcType=VARCHAR},
      brand_ename = #{brandEname,jdbcType=VARCHAR},
      brand_name_first_letter = #{brandNameFirstLetter,jdbcType=CHAR},
      brand_country = #{brandCountry,jdbcType=VARCHAR},
      brand_home_url = #{brandHomeUrl,jdbcType=VARCHAR},
      brand_logo_img = #{brandLogoImg,jdbcType=VARCHAR},
      brand_video = #{brandVideo,jdbcType=VARCHAR},
      brand_img = #{brandImg,jdbcType=VARCHAR},
      brand_desc = #{brandDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectBrandFirstLetter" resultType="com.wow.product.vo.BrandVo" >
    select
    	brand_name_first_letter as brandFirstLetter
    from brand group by brand_name_first_letter order by brand_name_first_letter asc
  </select>
</mapper>