<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.product.mapper.ProductImageMapper" >
  <resultMap id="BaseResultMap" type="com.wow.product.model.ProductImage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="img_desc" property="imgDesc" jdbcType="VARCHAR" />
    <result column="view_platform" property="viewPlatform" jdbcType="TINYINT" />
    <result column="is_primary" property="isPrimary" jdbcType="BIT" />
    <result column="sort_order" property="sortOrder" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="udpate_time" property="udpateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_id, img_name, img_url, img_desc, view_platform, is_primary, sort_order, 
    create_time, create_by, udpate_time, update_by, is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.product.model.ProductImageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_image
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.product.model.ProductImageExample" >
    delete from product_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.product.model.ProductImage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select LAST_INSERT_ID()
    </selectKey>
    insert into product_image (product_id, img_name, img_url, 
      img_desc, view_platform, is_primary, 
      sort_order, create_time, create_by, 
      udpate_time, update_by, is_deleted
      )
    values (#{productId,jdbcType=INTEGER}, #{imgName,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{imgDesc,jdbcType=VARCHAR}, #{viewPlatform,jdbcType=TINYINT}, #{isPrimary,jdbcType=BIT}, 
      #{sortOrder,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{udpateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wow.product.model.ProductImage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select LAST_INSERT_ID()
    </selectKey>
    insert into product_image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="imgDesc != null" >
        img_desc,
      </if>
      <if test="viewPlatform != null" >
        view_platform,
      </if>
      <if test="isPrimary != null" >
        is_primary,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="udpateTime != null" >
        udpate_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgDesc != null" >
        #{imgDesc,jdbcType=VARCHAR},
      </if>
      <if test="viewPlatform != null" >
        #{viewPlatform,jdbcType=TINYINT},
      </if>
      <if test="isPrimary != null" >
        #{isPrimary,jdbcType=BIT},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="udpateTime != null" >
        #{udpateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.product.model.ProductImageExample" resultType="java.lang.Integer" >
    select count(*) from product_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product_image
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.imgName != null" >
        img_name = #{record.imgName,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.imgDesc != null" >
        img_desc = #{record.imgDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.viewPlatform != null" >
        view_platform = #{record.viewPlatform,jdbcType=TINYINT},
      </if>
      <if test="record.isPrimary != null" >
        is_primary = #{record.isPrimary,jdbcType=BIT},
      </if>
      <if test="record.sortOrder != null" >
        sort_order = #{record.sortOrder,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.udpateTime != null" >
        udpate_time = #{record.udpateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product_image
    set id = #{record.id,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=INTEGER},
      img_name = #{record.imgName,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      img_desc = #{record.imgDesc,jdbcType=VARCHAR},
      view_platform = #{record.viewPlatform,jdbcType=TINYINT},
      is_primary = #{record.isPrimary,jdbcType=BIT},
      sort_order = #{record.sortOrder,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      udpate_time = #{record.udpateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.product.model.ProductImage" >
    update product_image
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgDesc != null" >
        img_desc = #{imgDesc,jdbcType=VARCHAR},
      </if>
      <if test="viewPlatform != null" >
        view_platform = #{viewPlatform,jdbcType=TINYINT},
      </if>
      <if test="isPrimary != null" >
        is_primary = #{isPrimary,jdbcType=BIT},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="udpateTime != null" >
        udpate_time = #{udpateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.product.model.ProductImage" >
    update product_image
    set product_id = #{productId,jdbcType=INTEGER},
      img_name = #{imgName,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      img_desc = #{imgDesc,jdbcType=VARCHAR},
      view_platform = #{viewPlatform,jdbcType=TINYINT},
      is_primary = #{isPrimary,jdbcType=BIT},
      sort_order = #{sortOrder,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      udpate_time = #{udpateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectProductPrimaryOneImg" resultMap="BaseResultMap" parameterType="map">
  	select 
  		<include refid="Base_Column_List" /> 
  	from product_image pi where pi.product_id=#{productId} and is_primary=1 and is_deleted=0 order by sort_order asc limit 1
  </select>
  

  <select id="selectProductListPrimaryOneImg" resultMap="BaseResultMap" parameterType="map">
    select pi.product_id, pi.img_url from product_image pi
    inner join
    (select product_id, min(sort_order) sort_order from product_image
    where product_id in
    <foreach collection="productIds" index="index" item="productId" open="(" separator="," close=")">
      #{productId,jdbcType=INTEGER}
    </foreach>
    and is_primary = 1 group by product_id) temp
    on pi.product_id = temp.product_id
    and pi.sort_order = temp.sort_order
    where pi.is_primary = 1;
  </select>

  <insert id="addByBatch" parameterType="java.util.List">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_image (product_id, img_desc,img_url,is_primary,sort_order)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.productId,jdbcType=INTEGER}, #{item.imgDesc,jdbcType=VARCHAR},#{item.imgUrl,jdbcType=VARCHAR},#{item.isPrimary,jdbcType=BIT},#{item.sortOrder,jdbcType=TINYINT})
    </foreach>
  </insert>
</mapper>