<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.product.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.wow.product.model.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_type" property="productType" jdbcType="TINYINT" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="product_model" property="productModel" jdbcType="VARCHAR" />
    <result column="material_text" property="materialText" jdbcType="VARCHAR" />
    <result column="selling_point" property="sellingPoint" jdbcType="VARCHAR" />
    <result column="detail_description" property="detailDescription" jdbcType="VARCHAR" />
    <result column="can_sale" property="canSale" jdbcType="BIT" />
    <result column="can_show" property="canShow" jdbcType="BIT" />
    <result column="view_platform" property="viewPlatform" jdbcType="TINYINT" />
    <result column="seo_title" property="seoTitle" jdbcType="VARCHAR" />
    <result column="seo_desc" property="seoDesc" jdbcType="VARCHAR" />
    <result column="seo_key" property="seoKey" jdbcType="VARCHAR" />
    <result column="origin_country_id" property="originCountryId" jdbcType="VARCHAR" />
    <result column="origin_province_id" property="originProvinceId" jdbcType="VARCHAR" />
    <result column="origin_city" property="originCity" jdbcType="VARCHAR" />
    <result column="is_import" property="isImport" jdbcType="BIT" />
    <result column="length" property="length" jdbcType="SMALLINT" />
    <result column="width" property="width" jdbcType="SMALLINT" />
    <result column="height" property="height" jdbcType="SMALLINT" />
    <result column="size_text" property="sizeText" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="weight_text" property="weightText" jdbcType="VARCHAR" />
    <result column="spec_name" property="specName" jdbcType="VARCHAR" />
    <result column="color_id" property="colorId" jdbcType="TINYINT" />
    <result column="product_color_img" property="productColorImg" jdbcType="VARCHAR" />
    <result column="color_display_name" property="colorDisplayName" jdbcType="VARCHAR" />
    <result column="style_id" property="styleId" jdbcType="TINYINT" />
    <result column="verbose_info" property="verboseInfo" jdbcType="VARCHAR" />
    <result column="tips" property="tips" jdbcType="VARCHAR" />
    <result column="applicable_people" property="applicablePeople" jdbcType="VARCHAR" />
    <result column="applicable_scene_text" property="applicableSceneText" jdbcType="VARCHAR" />
    <result column="need_assemble" property="needAssemble" jdbcType="BIT" />
    <result column="assemble_tips" property="assembleTips" jdbcType="VARCHAR" />
    <result column="can_customized" property="canCustomized" jdbcType="BIT" />
    <result column="is_fragile" property="isFragile" jdbcType="BIT" />
    <result column="is_bundling" property="isBundling" jdbcType="BIT" />
    <result column="product_status" property="productStatus" jdbcType="TINYINT" />
    <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
    <result column="on_shelf_time" property="onShelfTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_name, product_code, product_type, category_id, brand_id, product_model, 
    material_text, selling_point, detail_description, can_sale, can_show, view_platform, 
    seo_title, seo_desc, seo_key, origin_country_id,origin_province_id, origin_city, is_import, length,
    width, height, size_text, weight, weight_text, spec_name, color_id, product_color_img, 
    color_display_name, style_id, verbose_info, tips, applicable_people, applicable_scene_text, 
    need_assemble, assemble_tips, can_customized, is_fragile, is_bundling, product_status, 
    reject_reason, on_shelf_time, create_time, approval_time, update_time, is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.product.model.ProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.product.model.ProductExample" >
    delete from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.product.model.Product" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product (product_name, product_code, product_type, 
      category_id, brand_id, product_model, 
      material_text, selling_point, detail_description, 
      can_sale, can_show, view_platform, 
      seo_title, seo_desc, seo_key, 
      origin_country_id,origin_province_id, origin_city, is_import,
      length, width, height, 
      size_text, weight, weight_text, 
      spec_name, color_id, product_color_img, 
      color_display_name, style_id, verbose_info, 
      tips, applicable_people, applicable_scene_text, 
      need_assemble, assemble_tips, can_customized, 
      is_fragile, is_bundling, product_status, 
      reject_reason, on_shelf_time, create_time, 
      approval_time, update_time, is_deleted
      )
    values (#{productName,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{productType,jdbcType=TINYINT}, 
      #{categoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{productModel,jdbcType=VARCHAR}, 
      #{materialText,jdbcType=VARCHAR}, #{sellingPoint,jdbcType=VARCHAR}, #{detailDescription,jdbcType=VARCHAR}, 
      #{canSale,jdbcType=BIT}, #{canShow,jdbcType=BIT}, #{viewPlatform,jdbcType=TINYINT}, 
      #{seoTitle,jdbcType=VARCHAR}, #{seoDesc,jdbcType=VARCHAR}, #{seoKey,jdbcType=VARCHAR}, 
      #{originCountryId,jdbcType=VARCHAR},#{originProvinceId,jdbcType=INTEGER}, #{originCity,jdbcType=VARCHAR}, #{isImport,jdbcType=BIT},
      #{length,jdbcType=SMALLINT}, #{width,jdbcType=SMALLINT}, #{height,jdbcType=SMALLINT}, 
      #{sizeText,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, #{weightText,jdbcType=VARCHAR}, 
      #{specName,jdbcType=VARCHAR}, #{colorId,jdbcType=TINYINT}, #{productColorImg,jdbcType=VARCHAR}, 
      #{colorDisplayName,jdbcType=VARCHAR}, #{styleId,jdbcType=TINYINT}, #{verboseInfo,jdbcType=VARCHAR}, 
      #{tips,jdbcType=VARCHAR}, #{applicablePeople,jdbcType=TINYINT}, #{applicableSceneText,jdbcType=VARCHAR}, 
      #{needAssemble,jdbcType=BIT}, #{assembleTips,jdbcType=VARCHAR}, #{canCustomized,jdbcType=BIT}, 
      #{isFragile,jdbcType=BIT}, #{isBundling,jdbcType=BIT}, #{productStatus,jdbcType=TINYINT}, 
      #{rejectReason,jdbcType=VARCHAR}, #{onShelfTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{approvalTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.wow.product.model.Product" useGeneratedKeys="true" keyProperty="id">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productType != null" >
        product_type,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="productModel != null" >
        product_model,
      </if>
      <if test="materialText != null" >
        material_text,
      </if>
      <if test="sellingPoint != null" >
        selling_point,
      </if>
      <if test="detailDescription != null" >
        detail_description,
      </if>
      <if test="canSale != null" >
        can_sale,
      </if>
      <if test="canShow != null" >
        can_show,
      </if>
      <if test="viewPlatform != null" >
        view_platform,
      </if>
      <if test="seoTitle != null" >
        seo_title,
      </if>
      <if test="seoDesc != null" >
        seo_desc,
      </if>
      <if test="seoKey != null" >
        seo_key,
      </if>
      <if test="originCountryId != null" >
        origin_country_id,
      </if>
      <if test="originProvinceId != null" >
        origin_province_id,
      </if>
      <if test="originCity != null" >
        origin_city,
      </if>
      <if test="isImport != null" >
        is_import,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="sizeText != null" >
        size_text,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="weightText != null" >
        weight_text,
      </if>
      <if test="specName != null" >
        spec_name,
      </if>
      <if test="colorId != null" >
        color_id,
      </if>
      <if test="productColorImg != null" >
        product_color_img,
      </if>
      <if test="colorDisplayName != null" >
        color_display_name,
      </if>
      <if test="styleId != null" >
        style_id,
      </if>
      <if test="verboseInfo != null" >
        verbose_info,
      </if>
      <if test="tips != null" >
        tips,
      </if>
      <if test="applicablePeople != null" >
        applicable_people,
      </if>
      <if test="applicableSceneText != null" >
        applicable_scene_text,
      </if>
      <if test="needAssemble != null" >
        need_assemble,
      </if>
      <if test="assembleTips != null" >
        assemble_tips,
      </if>
      <if test="canCustomized != null" >
        can_customized,
      </if>
      <if test="isFragile != null" >
        is_fragile,
      </if>
      <if test="isBundling != null" >
        is_bundling,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
      <if test="rejectReason != null" >
        reject_reason,
      </if>
      <if test="onShelfTime != null" >
        on_shelf_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="approvalTime != null" >
        approval_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="productModel != null" >
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="materialText != null" >
        #{materialText,jdbcType=VARCHAR},
      </if>
      <if test="sellingPoint != null" >
        #{sellingPoint,jdbcType=VARCHAR},
      </if>
      <if test="detailDescription != null" >
        #{detailDescription,jdbcType=VARCHAR},
      </if>
      <if test="canSale != null" >
        #{canSale,jdbcType=BIT},
      </if>
      <if test="canShow != null" >
        #{canShow,jdbcType=BIT},
      </if>
      <if test="viewPlatform != null" >
        #{viewPlatform,jdbcType=TINYINT},
      </if>
      <if test="seoTitle != null" >
        #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoDesc != null" >
        #{seoDesc,jdbcType=VARCHAR},
      </if>
      <if test="seoKey != null" >
        #{seoKey,jdbcType=VARCHAR},
      </if>
      <if test="originCountryId != null" >
        #{originCountryId,jdbcType=VARCHAR},
      </if>
      <if test="originProvinceId != null" >
        #{originProvinceId,jdbcType=INTEGER},
      </if>
      <if test="originCity != null" >
        #{originCity,jdbcType=VARCHAR},
      </if>
      <if test="isImport != null" >
        #{isImport,jdbcType=BIT},
      </if>
      <if test="length != null" >
        #{length,jdbcType=SMALLINT},
      </if>
      <if test="width != null" >
        #{width,jdbcType=SMALLINT},
      </if>
      <if test="height != null" >
        #{height,jdbcType=SMALLINT},
      </if>
      <if test="sizeText != null" >
        #{sizeText,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightText != null" >
        #{weightText,jdbcType=VARCHAR},
      </if>
      <if test="specName != null" >
        #{specName,jdbcType=VARCHAR},
      </if>
      <if test="colorId != null" >
        #{colorId,jdbcType=TINYINT},
      </if>
      <if test="productColorImg != null" >
        #{productColorImg,jdbcType=VARCHAR},
      </if>
      <if test="colorDisplayName != null" >
        #{colorDisplayName,jdbcType=VARCHAR},
      </if>
      <if test="styleId != null" >
        #{styleId,jdbcType=TINYINT},
      </if>
      <if test="verboseInfo != null" >
        #{verboseInfo,jdbcType=VARCHAR},
      </if>
      <if test="tips != null" >
        #{tips,jdbcType=VARCHAR},
      </if>
      <if test="applicablePeople != null" >
        #{applicablePeople,jdbcType=TINYINT},
      </if>
      <if test="applicableSceneText != null" >
        #{applicableSceneText,jdbcType=VARCHAR},
      </if>
      <if test="needAssemble != null" >
        #{needAssemble,jdbcType=BIT},
      </if>
      <if test="assembleTips != null" >
        #{assembleTips,jdbcType=VARCHAR},
      </if>
      <if test="canCustomized != null" >
        #{canCustomized,jdbcType=BIT},
      </if>
      <if test="isFragile != null" >
        #{isFragile,jdbcType=BIT},
      </if>
      <if test="isBundling != null" >
        #{isBundling,jdbcType=BIT},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="onShelfTime != null" >
        #{onShelfTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalTime != null" >
        #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.product.model.ProductExample" resultType="java.lang.Integer" >
    select count(*) from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null" >
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productType != null" >
        product_type = #{record.productType,jdbcType=TINYINT},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.productModel != null" >
        product_model = #{record.productModel,jdbcType=VARCHAR},
      </if>
      <if test="record.materialText != null" >
        material_text = #{record.materialText,jdbcType=VARCHAR},
      </if>
      <if test="record.sellingPoint != null" >
        selling_point = #{record.sellingPoint,jdbcType=VARCHAR},
      </if>
      <if test="record.detailDescription != null" >
        detail_description = #{record.detailDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.canSale != null" >
        can_sale = #{record.canSale,jdbcType=BIT},
      </if>
      <if test="record.canShow != null" >
        can_show = #{record.canShow,jdbcType=BIT},
      </if>
      <if test="record.viewPlatform != null" >
        view_platform = #{record.viewPlatform,jdbcType=TINYINT},
      </if>
      <if test="record.seoTitle != null" >
        seo_title = #{record.seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.seoDesc != null" >
        seo_desc = #{record.seoDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.seoKey != null" >
        seo_key = #{record.seoKey,jdbcType=VARCHAR},
      </if>
      <if test="record.originCountryId != null" >
        origin_country_id = #{record.originCountryId,jdbcType=VARCHAR},
      </if>
      <if test="record.originCity != null" >
        origin_city = #{record.originCity,jdbcType=VARCHAR},
      </if>
      <if test="record.isImport != null" >
        is_import = #{record.isImport,jdbcType=BIT},
      </if>
      <if test="record.length != null" >
        length = #{record.length,jdbcType=SMALLINT},
      </if>
      <if test="record.width != null" >
        width = #{record.width,jdbcType=SMALLINT},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=SMALLINT},
      </if>
      <if test="record.sizeText != null" >
        size_text = #{record.sizeText,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.weightText != null" >
        weight_text = #{record.weightText,jdbcType=VARCHAR},
      </if>
      <if test="record.specName != null" >
        spec_name = #{record.specName,jdbcType=VARCHAR},
      </if>
      <if test="record.colorId != null" >
        color_id = #{record.colorId,jdbcType=TINYINT},
      </if>
      <if test="record.productColorImg != null" >
        product_color_img = #{record.productColorImg,jdbcType=VARCHAR},
      </if>
      <if test="record.colorDisplayName != null" >
        color_display_name = #{record.colorDisplayName,jdbcType=VARCHAR},
      </if>
      <if test="record.styleId != null" >
        style_id = #{record.styleId,jdbcType=TINYINT},
      </if>
      <if test="record.verboseInfo != null" >
        verbose_info = #{record.verboseInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.tips != null" >
        tips = #{record.tips,jdbcType=VARCHAR},
      </if>
      <if test="record.applicablePeople != null" >
        applicable_people = #{record.applicablePeople,jdbcType=TINYINT},
      </if>
      <if test="record.applicableSceneText != null" >
        applicable_scene_text = #{record.applicableSceneText,jdbcType=VARCHAR},
      </if>
      <if test="record.needAssemble != null" >
        need_assemble = #{record.needAssemble,jdbcType=BIT},
      </if>
      <if test="record.assembleTips != null" >
        assemble_tips = #{record.assembleTips,jdbcType=VARCHAR},
      </if>
      <if test="record.canCustomized != null" >
        can_customized = #{record.canCustomized,jdbcType=BIT},
      </if>
      <if test="record.isFragile != null" >
        is_fragile = #{record.isFragile,jdbcType=BIT},
      </if>
      <if test="record.isBundling != null" >
        is_bundling = #{record.isBundling,jdbcType=BIT},
      </if>
      <if test="record.productStatus != null" >
        product_status = #{record.productStatus,jdbcType=TINYINT},
      </if>
      <if test="record.rejectReason != null" >
        reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="record.onShelfTime != null" >
        on_shelf_time = #{record.onShelfTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.approvalTime != null" >
        approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product
    set id = #{record.id,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      product_type = #{record.productType,jdbcType=TINYINT},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      product_model = #{record.productModel,jdbcType=VARCHAR},
      material_text = #{record.materialText,jdbcType=VARCHAR},
      selling_point = #{record.sellingPoint,jdbcType=VARCHAR},
      detail_description = #{record.detailDescription,jdbcType=VARCHAR},
      can_sale = #{record.canSale,jdbcType=BIT},
      can_show = #{record.canShow,jdbcType=BIT},
      view_platform = #{record.viewPlatform,jdbcType=TINYINT},
      seo_title = #{record.seoTitle,jdbcType=VARCHAR},
      seo_desc = #{record.seoDesc,jdbcType=VARCHAR},
      seo_key = #{record.seoKey,jdbcType=VARCHAR},
      origin_country_id = #{record.originCountryId,jdbcType=VARCHAR},
      origin_city = #{record.originCity,jdbcType=VARCHAR},
      is_import = #{record.isImport,jdbcType=BIT},
      length = #{record.length,jdbcType=SMALLINT},
      width = #{record.width,jdbcType=SMALLINT},
      height = #{record.height,jdbcType=SMALLINT},
      size_text = #{record.sizeText,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=DECIMAL},
      weight_text = #{record.weightText,jdbcType=VARCHAR},
      spec_name = #{record.specName,jdbcType=VARCHAR},
      color_id = #{record.colorId,jdbcType=TINYINT},
      product_color_img = #{record.productColorImg,jdbcType=VARCHAR},
      color_display_name = #{record.colorDisplayName,jdbcType=VARCHAR},
      style_id = #{record.styleId,jdbcType=TINYINT},
      verbose_info = #{record.verboseInfo,jdbcType=VARCHAR},
      tips = #{record.tips,jdbcType=VARCHAR},
      applicable_people = #{record.applicablePeople,jdbcType=VARCHAR},
      applicable_scene_text = #{record.applicableSceneText,jdbcType=VARCHAR},
      need_assemble = #{record.needAssemble,jdbcType=BIT},
      assemble_tips = #{record.assembleTips,jdbcType=VARCHAR},
      can_customized = #{record.canCustomized,jdbcType=BIT},
      is_fragile = #{record.isFragile,jdbcType=BIT},
      is_bundling = #{record.isBundling,jdbcType=BIT},
      product_status = #{record.productStatus,jdbcType=TINYINT},
      reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      on_shelf_time = #{record.onShelfTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.product.model.Product" >
    update product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        product_type = #{productType,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="productModel != null" >
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="materialText != null" >
        material_text = #{materialText,jdbcType=VARCHAR},
      </if>
      <if test="sellingPoint != null" >
        selling_point = #{sellingPoint,jdbcType=VARCHAR},
      </if>
      <if test="detailDescription != null" >
        detail_description = #{detailDescription,jdbcType=VARCHAR},
      </if>
      <if test="canSale != null" >
        can_sale = #{canSale,jdbcType=BIT},
      </if>
      <if test="canShow != null" >
        can_show = #{canShow,jdbcType=BIT},
      </if>
      <if test="viewPlatform != null" >
        view_platform = #{viewPlatform,jdbcType=TINYINT},
      </if>
      <if test="seoTitle != null" >
        seo_title = #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoDesc != null" >
        seo_desc = #{seoDesc,jdbcType=VARCHAR},
      </if>
      <if test="seoKey != null" >
        seo_key = #{seoKey,jdbcType=VARCHAR},
      </if>
      <if test="originCountryId != null" >
        origin_country_id = #{originCountryId,jdbcType=VARCHAR},
      </if>
      <if test="originProvinceId != null" >
        origin_province_id=#{originProvinceId,jdbcType=INTEGER}
      </if>
      <if test="originCity != null" >
        origin_city = #{originCity,jdbcType=VARCHAR},
      </if>
      <if test="isImport != null" >
        is_import = #{isImport,jdbcType=BIT},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=SMALLINT},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=SMALLINT},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=SMALLINT},
      </if>
      <if test="sizeText != null" >
        size_text = #{sizeText,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightText != null" >
        weight_text = #{weightText,jdbcType=VARCHAR},
      </if>
      <if test="specName != null" >
        spec_name = #{specName,jdbcType=VARCHAR},
      </if>
      <if test="colorId != null" >
        color_id = #{colorId,jdbcType=TINYINT},
      </if>
      <if test="productColorImg != null" >
        product_color_img = #{productColorImg,jdbcType=VARCHAR},
      </if>
      <if test="colorDisplayName != null" >
        color_display_name = #{colorDisplayName,jdbcType=VARCHAR},
      </if>
      <if test="styleId != null" >
        style_id = #{styleId,jdbcType=TINYINT},
      </if>
      <if test="verboseInfo != null" >
        verbose_info = #{verboseInfo,jdbcType=VARCHAR},
      </if>
      <if test="tips != null" >
        tips = #{tips,jdbcType=VARCHAR},
      </if>
      <if test="applicablePeople != null" >
        applicable_people = #{applicablePeople,jdbcType=VARCHAR},
      </if>
      <if test="applicableSceneText != null" >
        applicable_scene_text = #{applicableSceneText,jdbcType=VARCHAR},
      </if>
      <if test="needAssemble != null" >
        need_assemble = #{needAssemble,jdbcType=BIT},
      </if>
      <if test="assembleTips != null" >
        assemble_tips = #{assembleTips,jdbcType=VARCHAR},
      </if>
      <if test="canCustomized != null" >
        can_customized = #{canCustomized,jdbcType=BIT},
      </if>
      <if test="isFragile != null" >
        is_fragile = #{isFragile,jdbcType=BIT},
      </if>
      <if test="isBundling != null" >
        is_bundling = #{isBundling,jdbcType=BIT},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="rejectReason != null" >
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="onShelfTime != null" >
        on_shelf_time = #{onShelfTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalTime != null" >
        approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.product.model.Product" >
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=TINYINT},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      product_model = #{productModel,jdbcType=VARCHAR},
      material_text = #{materialText,jdbcType=VARCHAR},
      selling_point = #{sellingPoint,jdbcType=VARCHAR},
      detail_description = #{detailDescription,jdbcType=VARCHAR},
      can_sale = #{canSale,jdbcType=BIT},
      can_show = #{canShow,jdbcType=BIT},
      view_platform = #{viewPlatform,jdbcType=TINYINT},
      seo_title = #{seoTitle,jdbcType=VARCHAR},
      seo_desc = #{seoDesc,jdbcType=VARCHAR},
      seo_key = #{seoKey,jdbcType=VARCHAR},
      origin_country_id = #{originCountryId,jdbcType=VARCHAR},
      origin_province_id=#{originProvinceId,jdbcType=INTEGER},
      origin_city = #{originCity,jdbcType=VARCHAR},
      is_import = #{isImport,jdbcType=BIT},
      length = #{length,jdbcType=SMALLINT},
      width = #{width,jdbcType=SMALLINT},
      height = #{height,jdbcType=SMALLINT},
      size_text = #{sizeText,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      weight_text = #{weightText,jdbcType=VARCHAR},
      spec_name = #{specName,jdbcType=VARCHAR},
      color_id = #{colorId,jdbcType=TINYINT},
      product_color_img = #{productColorImg,jdbcType=VARCHAR},
      color_display_name = #{colorDisplayName,jdbcType=VARCHAR},
      style_id = #{styleId,jdbcType=TINYINT},
      verbose_info = #{verboseInfo,jdbcType=VARCHAR},
      tips = #{tips,jdbcType=VARCHAR},
      applicable_people = #{applicablePeople,jdbcType=VARCHAR},
      applicable_scene_text = #{applicableSceneText,jdbcType=VARCHAR},
      need_assemble = #{needAssemble,jdbcType=BIT},
      assemble_tips = #{assembleTips,jdbcType=VARCHAR},
      can_customized = #{canCustomized,jdbcType=BIT},
      is_fragile = #{isFragile,jdbcType=BIT},
      is_bundling = #{isBundling,jdbcType=BIT},
      product_status = #{productStatus,jdbcType=TINYINT},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      on_shelf_time = #{onShelfTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

 <!-- 按分类查询产品并按上架时间排序 -->
  <select id="selectProductByCategoryOrderByOnShelfTimeListPage" resultType="com.wow.common.page.PageData"  parameterType="com.wow.common.page.PageModel">
    select
    p.id as productId,p.product_name as productName,pp.sell_price as sellPrice
    from product p
    inner join product_price pp on pp.product_id=p.id
    where p.is_deleted = false
    and p.product_type = 2
    and p.product_status=1
    and p.category_id in
    <foreach item="categoryId" index="index" collection="model.categoryIdList" open="(" separator="," close=")">
      #{model.categoryIdList[${index}]}
    </foreach>
    order by p.on_shelf_time ${model.ascText}
  </select>

  <!-- 按分类查询产品并按销量排序 -->
  <select id="selectProductByCategoryOrderBySoldQtyListPage" resultType="com.wow.common.page.PageData"  parameterType="com.wow.common.page.PageModel">
  	select
    	p.id as productId,p.product_name as productName,pp.sell_price as sellPrice
    from product p
    inner join product_price pp on pp.product_id=p.id
    left join product_summary ps on ps.product_id=p.id
    where p.is_deleted = false
    and p.product_type = 2
    and p.product_status=1
    and p.category_id in
    <foreach item="categoryId" index="index" collection="model.categoryIdList" open="(" separator="," close=")">
      #{model.categoryIdList[${index}]}
    </foreach>
    order by ps.total_sold_qty ${model.ascText}
  </select>

  <!-- 按分类查询产品并按价格排序 -->
  <select id="selectProductByCategoryOrderBySellPriceListPage" resultType="com.wow.common.page.PageData"  parameterType="com.wow.common.page.PageModel">
  	select
    	p.id as productId,p.product_name as productName,pp.sell_price as sellPrice
    from product p
    inner join product_price pp on pp.product_id=p.id
    where p.is_deleted = false
    and p.product_type = 2
    and p.product_status=1
    and p.category_id in
    <foreach item="categoryId" index="index" collection="model.categoryIdList" open="(" separator="," close=")">
      #{model.categoryIdList[${index}]}
    </foreach>
    order by pp.sell_price ${model.ascText}
  </select>

  <!-- 按品牌查询产品 -->
  <select id="selectProductByBrandId" resultType="com.wow.product.vo.ProductVo" parameterType="map">
    select
    p.id as productId,p.product_name as productName,pp.sell_price as sellPrice
    from product p
    inner join product_price pp on pp.product_id=p.id
    where p.is_deleted = false
    and p.brand_id = #{brandId}
    and p.product_type = 2
    order by p.id desc
  </select>

  <!-- 按品牌查询产品(分页) -->
  <select id="selectProductByBrandIdListPage" resultType="com.wow.common.page.PageData"  parameterType="com.wow.common.page.PageModel">
    select
    p.id as productId,p.product_name as productName,pp.sell_price as sellPrice
    from product p
    inner join product_price pp on pp.product_id=p.id
    where p.is_deleted = false
    and p.brand_id = #{model.brandId}
    and p.product_type = 2
    and p.product_status=1
    order by p.id desc
  </select>

  <!-- 按设计师查询产品 -->
  <select id="selectProductByDesignerId" resultType="com.wow.product.vo.ProductVo" parameterType="map">
    select
    p.id as productId,p.product_name as productName,pp.sell_price as sellPrice
    from product p
    inner join product_designer pd on pd.product_id=p.id
    inner join product_price pp on pp.product_id=p.id
    where p.is_deleted = false
    and pd.designer_id=#{designerId}
    and p.product_type = 2
    order by p.id desc
  </select>

  <!-- 按设计师查询产品(分页) -->
  <select id="selectProductByDesignerIdListPage" resultType="com.wow.common.page.PageData"  parameterType="com.wow.common.page.PageModel">
    select
    p.id as productId,p.product_name as productName,pp.sell_price as sellPrice
    from product p
    inner join product_designer pd on pd.product_id=p.id
    inner join product_price pp on pp.product_id=p.id
    where p.is_deleted = false
    and pd.designer_id=#{model.designerId}
    and p.product_type = 2
    and p.product_status=1
    order by p.id desc
  </select>
  
  <!-- 后台产品列表分页查询 -->
  <select id="selectProductListPage" resultType="com.wow.common.page.PageData"  parameterType="com.wow.common.page.PageModel">
  	select ps.product_id as productId,p.product_name as productName,b.brand_cname as brandName
		from product_serial ps
		left join product p on p.id=ps.product_id
		left join brand b on b.id=p.brand_id
		<if test="model.designerName!= null and model.designerName!=''">
			left join product_designer pd on pd.product_id=p.id
			left join designer d on d.id=pd.designer_id
		</if>
		<if test="model.beginSellPrice!= null and model.endSellPrice!=null">
			left join product_price pp on pp.product_id=p.id
		</if>
		where p.product_type=2
		<if test="model.productName!= null and model.productName!=''">
	        and p.product_name like concat('%',#{model.productName},'%')
	    </if>
	    <if test="model.categoryId!= null and model.categoryId!=''">
	        and p.category_id in 
		    <foreach item="categoryId" index="index" collection="model.categoryIds" open="(" separator="," close=")">
		      #{model.categoryIds[${index}]}
		    </foreach>
	    </if>
	    <if test="model.productCode!= null and model.productCode!=''">
	        and p.product_code like concat('%',#{model.productCode},'%')
	    </if>
	    <if test="model.brandName!= null and model.brandName!=''">
	        and b.brand_cname like concat('%',#{model.brandName},'%')
	    </if>
	    <if test="model.productStatus!= null and model.productStatus!=''">
	        and p.product_status = #{model.productStatus}
	    </if>
		GROUP BY ps.product_id having 1=1
		<if test="model.designerName!= null and model.designerName!=''">
			and GROUP_CONCAT(d.designer_name) concat('%',#{model.designerName},'%')
		</if>
		<if test="model.beginSellPrice!= null and model.beginSellPrice!=''">
			<![CDATA[
				and MIN(pp.sell_price) >= #{model.beginSellPrice}
			]]>
		</if>
		<if test="model.endSellPrice!= null and model.endSellPrice!=''">
			<![CDATA[
				and MAX(pp.sell_price) <= #{model.endSellPrice}
			]]>
		</if>
	order by p.create_time desc
  </select>

  <!-- 按产品ID批量查询产品列表信息 -->
  <select id="selectProductByProductIds" resultType="com.wow.product.vo.ProductListVo">
  	select
    	psr.product_id as productId,psr.sub_product_id as subProductId,p.product_name as productName,p.spec_name as specName,p.product_code as productCode,
    	pp.sell_price as sellPrice,ps.total_sold_qty as totalSoldQty,p.product_status as productStatus,p.create_time as createTime
    from product_serial psr
    inner join product p on psr.sub_product_id=p.id
    left join product_price pp on pp.product_id=p.id
    left join product_summary ps on ps.product_id=p.id
    where p.is_deleted = false
    and p.product_type = 1
    and psr.product_id in
    <foreach item="productId" index="index" collection="productIds" open="(" separator="," close=")">
      #{productId}
    </foreach>
  </select>
  
  
  <select id="queryProductByTopicGroupListPage" resultType="com.wow.common.page.PageData"  parameterType="com.wow.common.page.PageModel">
    select product.id,product_image.img_url,product.product_name,product_price.sell_price
    from product
    join product_short_list_in_topic on product.id=product_short_list_in_topic.product_id
    join product_price on product.id=product_price.product_id
    left join product_image on product.id=product_image.product_id
    left join product_summary on product.id=product_summary.total_sold_qty
    where product.product_status=1
    and product.is_deleted=0
    and product_short_list_in_topic.is_deleted=0
    and (product_image.id is null or (product_image.is_deleted=0 and product_image.is_primary=0))
    and product_short_list_in_topic.short_list_in_topic=1
    and product_short_list_in_topic.topic_id=#{model.topicId}
    order by ${model.orderColumn} ${model.OrderType}
  </select>

  <select id="queryProductByTopicGroup" resultType="com.wow.product.model.GroupProduct"  parameterType="com.wow.product.vo.ProductListQuery">
    select product.id,product_image.img_url,product.product_name,product_price.sell_price
    from product
    join product_short_list_in_topic on product.id=product_short_list_in_topic.product_id
    join product_price on product.id=product_price.product_id
    left join product_image on product.id=product_image.product_id
    where product.product_status=1
    and product.is_deleted=0
    and product_short_list_in_topic.is_deleted=0
    and (product_image.id is null or (product_image.is_deleted=0 and product_image.is_primary=0))
    and product_short_list_in_topic.short_list_in_topic=1
    and product_short_list_in_topic.topic_id=#{topicId}
  </select>
</mapper>