<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.product.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.wow.product.model.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_type" property="productType" jdbcType="TINYINT" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="product_model" property="productModel" jdbcType="VARCHAR" />
    <result column="material" property="material" jdbcType="VARCHAR" />
    <result column="selling_point" property="sellingPoint" jdbcType="VARCHAR" />
    <result column="detail_description" property="detailDescription" jdbcType="VARCHAR" />
    <result column="can_sale" property="canSale" jdbcType="BIT" />
    <result column="can_show" property="canShow" jdbcType="BIT" />
    <result column="view_platform" property="viewPlatform" jdbcType="TINYINT" />
    <result column="origin_country" property="originCountry" jdbcType="VARCHAR" />
    <result column="origin_area_id" property="originAreaId" jdbcType="INTEGER" />
    <result column="origin_text" property="originText" jdbcType="VARCHAR" />
    <result column="is_import" property="isImport" jdbcType="BIT" />
    <result column="length" property="length" jdbcType="SMALLINT" />
    <result column="width" property="width" jdbcType="SMALLINT" />
    <result column="height" property="height" jdbcType="SMALLINT" />
    <result column="size_text" property="sizeText" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="weight_text" property="weightText" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="spec_img" property="specImg" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="style" property="style" jdbcType="VARCHAR" />
    <result column="verbose_info" property="verboseInfo" jdbcType="VARCHAR" />
    <result column="tips" property="tips" jdbcType="VARCHAR" />
    <result column="applicable_scene" property="applicableScene" jdbcType="VARCHAR" />
    <result column="post_sale_service_desc" property="postSaleServiceDesc" jdbcType="VARCHAR" />
    <result column="delivery_fee_type" property="deliveryFeeType" jdbcType="TINYINT" />
    <result column="need_assemble" property="needAssemble" jdbcType="BIT" />
    <result column="assemble_tips" property="assembleTips" jdbcType="VARCHAR" />
    <result column="is_fragile" property="isFragile" jdbcType="BIT" />
    <result column="is_presale" property="isPresale" jdbcType="BIT" />
    <result column="is_bundling" property="isBundling" jdbcType="BIT" />
    <result column="product_status" property="productStatus" jdbcType="DECIMAL" />
    <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
    <result column="on_shelf_time" property="onShelfTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wow.product.model.Product" extends="BaseResultMap" >
    <result column="seo_title" property="seoTitle" jdbcType="LONGVARCHAR" />
    <result column="seo_desc" property="seoDesc" jdbcType="LONGVARCHAR" />
    <result column="seo_key" property="seoKey" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_name, product_code, product_type, category_id, brand_id, product_model, 
    material, selling_point, detail_description, can_sale, can_show, view_platform, origin_country, 
    origin_area_id, origin_text, is_import, length, width, height, size_text, weight, 
    weight_text, spec, spec_img, color, style, verbose_info, tips, applicable_scene, 
    post_sale_service_desc, delivery_fee_type, need_assemble, assemble_tips, is_fragile, 
    is_presale, is_bundling, product_status, reject_reason, on_shelf_time, create_time, 
    approval_time, update_time, is_deleted
  </sql>
  <sql id="Blob_Column_List" >
    seo_title, seo_desc, seo_key
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.wow.product.model.ProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.product.model.ProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.product.model.ProductExample" >
    delete from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.product.model.Product" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product (product_name, product_code, product_type, 
      category_id, brand_id, product_model, 
      material, selling_point, detail_description, 
      can_sale, can_show, view_platform, 
      origin_country, origin_area_id, origin_text, 
      is_import, length, width, 
      height, size_text, weight, 
      weight_text, spec, spec_img, 
      color, style, verbose_info, 
      tips, applicable_scene, post_sale_service_desc, 
      delivery_fee_type, need_assemble, assemble_tips, 
      is_fragile, is_presale, is_bundling, 
      product_status, reject_reason, on_shelf_time, 
      create_time, approval_time, update_time, 
      is_deleted, seo_title, seo_desc, 
      seo_key)
    values (#{productName,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{productType,jdbcType=TINYINT}, 
      #{categoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{productModel,jdbcType=VARCHAR},
      #{material,jdbcType=VARCHAR}, #{sellingPoint,jdbcType=VARCHAR}, #{detailDescription,jdbcType=VARCHAR}, 
      #{canSale,jdbcType=BIT}, #{canShow,jdbcType=BIT}, #{viewPlatform,jdbcType=TINYINT}, 
      #{originCountry,jdbcType=VARCHAR}, #{originAreaId,jdbcType=INTEGER}, #{originText,jdbcType=VARCHAR}, 
      #{isImport,jdbcType=BIT}, #{length,jdbcType=SMALLINT}, #{width,jdbcType=SMALLINT}, 
      #{height,jdbcType=SMALLINT}, #{sizeText,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, 
      #{weightText,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{specImg,jdbcType=VARCHAR}, 
      #{color,jdbcType=VARCHAR}, #{style,jdbcType=VARCHAR}, #{verboseInfo,jdbcType=VARCHAR}, 
      #{tips,jdbcType=VARCHAR}, #{applicableScene,jdbcType=VARCHAR}, #{postSaleServiceDesc,jdbcType=VARCHAR}, 
      #{deliveryFeeType,jdbcType=TINYINT}, #{needAssemble,jdbcType=BIT}, #{assembleTips,jdbcType=VARCHAR}, 
      #{isFragile,jdbcType=BIT}, #{isPresale,jdbcType=BIT}, #{isBundling,jdbcType=BIT}, 
      #{productStatus,jdbcType=DECIMAL}, #{rejectReason,jdbcType=VARCHAR}, #{onShelfTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{approvalTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT}, #{seoTitle,jdbcType=LONGVARCHAR}, #{seoDesc,jdbcType=LONGVARCHAR}, 
      #{seoKey,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wow.product.model.Product" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productType != null" >
        product_type,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="productModel != null" >
        product_model,
      </if>
      <if test="material != null" >
        material,
      </if>
      <if test="sellingPoint != null" >
        selling_point,
      </if>
      <if test="detailDescription != null" >
        detail_description,
      </if>
      <if test="canSale != null" >
        can_sale,
      </if>
      <if test="canShow != null" >
        can_show,
      </if>
      <if test="viewPlatform != null" >
        view_platform,
      </if>
      <if test="originCountry != null" >
        origin_country,
      </if>
      <if test="originAreaId != null" >
        origin_area_id,
      </if>
      <if test="originText != null" >
        origin_text,
      </if>
      <if test="isImport != null" >
        is_import,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="sizeText != null" >
        size_text,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="weightText != null" >
        weight_text,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="specImg != null" >
        spec_img,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="style != null" >
        style,
      </if>
      <if test="verboseInfo != null" >
        verbose_info,
      </if>
      <if test="tips != null" >
        tips,
      </if>
      <if test="applicableScene != null" >
        applicable_scene,
      </if>
      <if test="postSaleServiceDesc != null" >
        post_sale_service_desc,
      </if>
      <if test="deliveryFeeType != null" >
        delivery_fee_type,
      </if>
      <if test="needAssemble != null" >
        need_assemble,
      </if>
      <if test="assembleTips != null" >
        assemble_tips,
      </if>
      <if test="isFragile != null" >
        is_fragile,
      </if>
      <if test="isPresale != null" >
        is_presale,
      </if>
      <if test="isBundling != null" >
        is_bundling,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
      <if test="rejectReason != null" >
        reject_reason,
      </if>
      <if test="onShelfTime != null" >
        on_shelf_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="approvalTime != null" >
        approval_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="seoTitle != null" >
        seo_title,
      </if>
      <if test="seoDesc != null" >
        seo_desc,
      </if>
      <if test="seoKey != null" >
        seo_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="productModel != null" >
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="sellingPoint != null" >
        #{sellingPoint,jdbcType=VARCHAR},
      </if>
      <if test="detailDescription != null" >
        #{detailDescription,jdbcType=VARCHAR},
      </if>
      <if test="canSale != null" >
        #{canSale,jdbcType=BIT},
      </if>
      <if test="canShow != null" >
        #{canShow,jdbcType=BIT},
      </if>
      <if test="viewPlatform != null" >
        #{viewPlatform,jdbcType=TINYINT},
      </if>
      <if test="originCountry != null" >
        #{originCountry,jdbcType=VARCHAR},
      </if>
      <if test="originAreaId != null" >
        #{originAreaId,jdbcType=INTEGER},
      </if>
      <if test="originText != null" >
        #{originText,jdbcType=VARCHAR},
      </if>
      <if test="isImport != null" >
        #{isImport,jdbcType=BIT},
      </if>
      <if test="length != null" >
        #{length,jdbcType=SMALLINT},
      </if>
      <if test="width != null" >
        #{width,jdbcType=SMALLINT},
      </if>
      <if test="height != null" >
        #{height,jdbcType=SMALLINT},
      </if>
      <if test="sizeText != null" >
        #{sizeText,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightText != null" >
        #{weightText,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="specImg != null" >
        #{specImg,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="verboseInfo != null" >
        #{verboseInfo,jdbcType=VARCHAR},
      </if>
      <if test="tips != null" >
        #{tips,jdbcType=VARCHAR},
      </if>
      <if test="applicableScene != null" >
        #{applicableScene,jdbcType=VARCHAR},
      </if>
      <if test="postSaleServiceDesc != null" >
        #{postSaleServiceDesc,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFeeType != null" >
        #{deliveryFeeType,jdbcType=TINYINT},
      </if>
      <if test="needAssemble != null" >
        #{needAssemble,jdbcType=BIT},
      </if>
      <if test="assembleTips != null" >
        #{assembleTips,jdbcType=VARCHAR},
      </if>
      <if test="isFragile != null" >
        #{isFragile,jdbcType=BIT},
      </if>
      <if test="isPresale != null" >
        #{isPresale,jdbcType=BIT},
      </if>
      <if test="isBundling != null" >
        #{isBundling,jdbcType=BIT},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=DECIMAL},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="onShelfTime != null" >
        #{onShelfTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalTime != null" >
        #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="seoTitle != null" >
        #{seoTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="seoDesc != null" >
        #{seoDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="seoKey != null" >
        #{seoKey,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.product.model.ProductExample" resultType="java.lang.Integer" >
    select count(*) from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null" >
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productType != null" >
        product_type = #{record.productType,jdbcType=TINYINT},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.productModel != null" >
        product_model = #{record.productModel,jdbcType=VARCHAR},
      </if>
      <if test="record.material != null" >
        material = #{record.material,jdbcType=VARCHAR},
      </if>
      <if test="record.sellingPoint != null" >
        selling_point = #{record.sellingPoint,jdbcType=VARCHAR},
      </if>
      <if test="record.detailDescription != null" >
        detail_description = #{record.detailDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.canSale != null" >
        can_sale = #{record.canSale,jdbcType=BIT},
      </if>
      <if test="record.canShow != null" >
        can_show = #{record.canShow,jdbcType=BIT},
      </if>
      <if test="record.viewPlatform != null" >
        view_platform = #{record.viewPlatform,jdbcType=TINYINT},
      </if>
      <if test="record.originCountry != null" >
        origin_country = #{record.originCountry,jdbcType=VARCHAR},
      </if>
      <if test="record.originAreaId != null" >
        origin_area_id = #{record.originAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.originText != null" >
        origin_text = #{record.originText,jdbcType=VARCHAR},
      </if>
      <if test="record.isImport != null" >
        is_import = #{record.isImport,jdbcType=BIT},
      </if>
      <if test="record.length != null" >
        length = #{record.length,jdbcType=SMALLINT},
      </if>
      <if test="record.width != null" >
        width = #{record.width,jdbcType=SMALLINT},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=SMALLINT},
      </if>
      <if test="record.sizeText != null" >
        size_text = #{record.sizeText,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.weightText != null" >
        weight_text = #{record.weightText,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null" >
        spec = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.specImg != null" >
        spec_img = #{record.specImg,jdbcType=VARCHAR},
      </if>
      <if test="record.color != null" >
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.style != null" >
        style = #{record.style,jdbcType=VARCHAR},
      </if>
      <if test="record.verboseInfo != null" >
        verbose_info = #{record.verboseInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.tips != null" >
        tips = #{record.tips,jdbcType=VARCHAR},
      </if>
      <if test="record.applicableScene != null" >
        applicable_scene = #{record.applicableScene,jdbcType=VARCHAR},
      </if>
      <if test="record.postSaleServiceDesc != null" >
        post_sale_service_desc = #{record.postSaleServiceDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryFeeType != null" >
        delivery_fee_type = #{record.deliveryFeeType,jdbcType=TINYINT},
      </if>
      <if test="record.needAssemble != null" >
        need_assemble = #{record.needAssemble,jdbcType=BIT},
      </if>
      <if test="record.assembleTips != null" >
        assemble_tips = #{record.assembleTips,jdbcType=VARCHAR},
      </if>
      <if test="record.isFragile != null" >
        is_fragile = #{record.isFragile,jdbcType=BIT},
      </if>
      <if test="record.isPresale != null" >
        is_presale = #{record.isPresale,jdbcType=BIT},
      </if>
      <if test="record.isBundling != null" >
        is_bundling = #{record.isBundling,jdbcType=BIT},
      </if>
      <if test="record.productStatus != null" >
        product_status = #{record.productStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.rejectReason != null" >
        reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="record.onShelfTime != null" >
        on_shelf_time = #{record.onShelfTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.approvalTime != null" >
        approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.seoTitle != null" >
        seo_title = #{record.seoTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.seoDesc != null" >
        seo_desc = #{record.seoDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.seoKey != null" >
        seo_key = #{record.seoKey,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update product
    set id = #{record.id,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      product_type = #{record.productType,jdbcType=TINYINT},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      product_model = #{record.productModel,jdbcType=VARCHAR},
      material = #{record.material,jdbcType=VARCHAR},
      selling_point = #{record.sellingPoint,jdbcType=VARCHAR},
      detail_description = #{record.detailDescription,jdbcType=VARCHAR},
      can_sale = #{record.canSale,jdbcType=BIT},
      can_show = #{record.canShow,jdbcType=BIT},
      view_platform = #{record.viewPlatform,jdbcType=TINYINT},
      origin_country = #{record.originCountry,jdbcType=VARCHAR},
      origin_area_id = #{record.originAreaId,jdbcType=INTEGER},
      origin_text = #{record.originText,jdbcType=VARCHAR},
      is_import = #{record.isImport,jdbcType=BIT},
      length = #{record.length,jdbcType=SMALLINT},
      width = #{record.width,jdbcType=SMALLINT},
      height = #{record.height,jdbcType=SMALLINT},
      size_text = #{record.sizeText,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=DECIMAL},
      weight_text = #{record.weightText,jdbcType=VARCHAR},
      spec = #{record.spec,jdbcType=VARCHAR},
      spec_img = #{record.specImg,jdbcType=VARCHAR},
      color = #{record.color,jdbcType=VARCHAR},
      style = #{record.style,jdbcType=VARCHAR},
      verbose_info = #{record.verboseInfo,jdbcType=VARCHAR},
      tips = #{record.tips,jdbcType=VARCHAR},
      applicable_scene = #{record.applicableScene,jdbcType=VARCHAR},
      post_sale_service_desc = #{record.postSaleServiceDesc,jdbcType=VARCHAR},
      delivery_fee_type = #{record.deliveryFeeType,jdbcType=TINYINT},
      need_assemble = #{record.needAssemble,jdbcType=BIT},
      assemble_tips = #{record.assembleTips,jdbcType=VARCHAR},
      is_fragile = #{record.isFragile,jdbcType=BIT},
      is_presale = #{record.isPresale,jdbcType=BIT},
      is_bundling = #{record.isBundling,jdbcType=BIT},
      product_status = #{record.productStatus,jdbcType=DECIMAL},
      reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      on_shelf_time = #{record.onShelfTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      seo_title = #{record.seoTitle,jdbcType=LONGVARCHAR},
      seo_desc = #{record.seoDesc,jdbcType=LONGVARCHAR},
      seo_key = #{record.seoKey,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product
    set id = #{record.id,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      product_type = #{record.productType,jdbcType=TINYINT},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      product_model = #{record.productModel,jdbcType=VARCHAR},
      material = #{record.material,jdbcType=VARCHAR},
      selling_point = #{record.sellingPoint,jdbcType=VARCHAR},
      detail_description = #{record.detailDescription,jdbcType=VARCHAR},
      can_sale = #{record.canSale,jdbcType=BIT},
      can_show = #{record.canShow,jdbcType=BIT},
      view_platform = #{record.viewPlatform,jdbcType=TINYINT},
      origin_country = #{record.originCountry,jdbcType=VARCHAR},
      origin_area_id = #{record.originAreaId,jdbcType=INTEGER},
      origin_text = #{record.originText,jdbcType=VARCHAR},
      is_import = #{record.isImport,jdbcType=BIT},
      length = #{record.length,jdbcType=SMALLINT},
      width = #{record.width,jdbcType=SMALLINT},
      height = #{record.height,jdbcType=SMALLINT},
      size_text = #{record.sizeText,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=DECIMAL},
      weight_text = #{record.weightText,jdbcType=VARCHAR},
      spec = #{record.spec,jdbcType=VARCHAR},
      spec_img = #{record.specImg,jdbcType=VARCHAR},
      color = #{record.color,jdbcType=VARCHAR},
      style = #{record.style,jdbcType=VARCHAR},
      verbose_info = #{record.verboseInfo,jdbcType=VARCHAR},
      tips = #{record.tips,jdbcType=VARCHAR},
      applicable_scene = #{record.applicableScene,jdbcType=VARCHAR},
      post_sale_service_desc = #{record.postSaleServiceDesc,jdbcType=VARCHAR},
      delivery_fee_type = #{record.deliveryFeeType,jdbcType=TINYINT},
      need_assemble = #{record.needAssemble,jdbcType=BIT},
      assemble_tips = #{record.assembleTips,jdbcType=VARCHAR},
      is_fragile = #{record.isFragile,jdbcType=BIT},
      is_presale = #{record.isPresale,jdbcType=BIT},
      is_bundling = #{record.isBundling,jdbcType=BIT},
      product_status = #{record.productStatus,jdbcType=DECIMAL},
      reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      on_shelf_time = #{record.onShelfTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.product.model.Product" >
    update product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        product_type = #{productType,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="productModel != null" >
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="sellingPoint != null" >
        selling_point = #{sellingPoint,jdbcType=VARCHAR},
      </if>
      <if test="detailDescription != null" >
        detail_description = #{detailDescription,jdbcType=VARCHAR},
      </if>
      <if test="canSale != null" >
        can_sale = #{canSale,jdbcType=BIT},
      </if>
      <if test="canShow != null" >
        can_show = #{canShow,jdbcType=BIT},
      </if>
      <if test="viewPlatform != null" >
        view_platform = #{viewPlatform,jdbcType=TINYINT},
      </if>
      <if test="originCountry != null" >
        origin_country = #{originCountry,jdbcType=VARCHAR},
      </if>
      <if test="originAreaId != null" >
        origin_area_id = #{originAreaId,jdbcType=INTEGER},
      </if>
      <if test="originText != null" >
        origin_text = #{originText,jdbcType=VARCHAR},
      </if>
      <if test="isImport != null" >
        is_import = #{isImport,jdbcType=BIT},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=SMALLINT},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=SMALLINT},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=SMALLINT},
      </if>
      <if test="sizeText != null" >
        size_text = #{sizeText,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightText != null" >
        weight_text = #{weightText,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="specImg != null" >
        spec_img = #{specImg,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="verboseInfo != null" >
        verbose_info = #{verboseInfo,jdbcType=VARCHAR},
      </if>
      <if test="tips != null" >
        tips = #{tips,jdbcType=VARCHAR},
      </if>
      <if test="applicableScene != null" >
        applicable_scene = #{applicableScene,jdbcType=VARCHAR},
      </if>
      <if test="postSaleServiceDesc != null" >
        post_sale_service_desc = #{postSaleServiceDesc,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFeeType != null" >
        delivery_fee_type = #{deliveryFeeType,jdbcType=TINYINT},
      </if>
      <if test="needAssemble != null" >
        need_assemble = #{needAssemble,jdbcType=BIT},
      </if>
      <if test="assembleTips != null" >
        assemble_tips = #{assembleTips,jdbcType=VARCHAR},
      </if>
      <if test="isFragile != null" >
        is_fragile = #{isFragile,jdbcType=BIT},
      </if>
      <if test="isPresale != null" >
        is_presale = #{isPresale,jdbcType=BIT},
      </if>
      <if test="isBundling != null" >
        is_bundling = #{isBundling,jdbcType=BIT},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=DECIMAL},
      </if>
      <if test="rejectReason != null" >
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="onShelfTime != null" >
        on_shelf_time = #{onShelfTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalTime != null" >
        approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="seoTitle != null" >
        seo_title = #{seoTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="seoDesc != null" >
        seo_desc = #{seoDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="seoKey != null" >
        seo_key = #{seoKey,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wow.product.model.Product" >
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=TINYINT},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      product_model = #{productModel,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      selling_point = #{sellingPoint,jdbcType=VARCHAR},
      detail_description = #{detailDescription,jdbcType=VARCHAR},
      can_sale = #{canSale,jdbcType=BIT},
      can_show = #{canShow,jdbcType=BIT},
      view_platform = #{viewPlatform,jdbcType=TINYINT},
      origin_country = #{originCountry,jdbcType=VARCHAR},
      origin_area_id = #{originAreaId,jdbcType=INTEGER},
      origin_text = #{originText,jdbcType=VARCHAR},
      is_import = #{isImport,jdbcType=BIT},
      length = #{length,jdbcType=SMALLINT},
      width = #{width,jdbcType=SMALLINT},
      height = #{height,jdbcType=SMALLINT},
      size_text = #{sizeText,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      weight_text = #{weightText,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      spec_img = #{specImg,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      verbose_info = #{verboseInfo,jdbcType=VARCHAR},
      tips = #{tips,jdbcType=VARCHAR},
      applicable_scene = #{applicableScene,jdbcType=VARCHAR},
      post_sale_service_desc = #{postSaleServiceDesc,jdbcType=VARCHAR},
      delivery_fee_type = #{deliveryFeeType,jdbcType=TINYINT},
      need_assemble = #{needAssemble,jdbcType=BIT},
      assemble_tips = #{assembleTips,jdbcType=VARCHAR},
      is_fragile = #{isFragile,jdbcType=BIT},
      is_presale = #{isPresale,jdbcType=BIT},
      is_bundling = #{isBundling,jdbcType=BIT},
      product_status = #{productStatus,jdbcType=DECIMAL},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      on_shelf_time = #{onShelfTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      seo_title = #{seoTitle,jdbcType=LONGVARCHAR},
      seo_desc = #{seoDesc,jdbcType=LONGVARCHAR},
      seo_key = #{seoKey,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.product.model.Product" >
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=TINYINT},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      product_model = #{productModel,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      selling_point = #{sellingPoint,jdbcType=VARCHAR},
      detail_description = #{detailDescription,jdbcType=VARCHAR},
      can_sale = #{canSale,jdbcType=BIT},
      can_show = #{canShow,jdbcType=BIT},
      view_platform = #{viewPlatform,jdbcType=TINYINT},
      origin_country = #{originCountry,jdbcType=VARCHAR},
      origin_area_id = #{originAreaId,jdbcType=INTEGER},
      origin_text = #{originText,jdbcType=VARCHAR},
      is_import = #{isImport,jdbcType=BIT},
      length = #{length,jdbcType=SMALLINT},
      width = #{width,jdbcType=SMALLINT},
      height = #{height,jdbcType=SMALLINT},
      size_text = #{sizeText,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      weight_text = #{weightText,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      spec_img = #{specImg,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      verbose_info = #{verboseInfo,jdbcType=VARCHAR},
      tips = #{tips,jdbcType=VARCHAR},
      applicable_scene = #{applicableScene,jdbcType=VARCHAR},
      post_sale_service_desc = #{postSaleServiceDesc,jdbcType=VARCHAR},
      delivery_fee_type = #{deliveryFeeType,jdbcType=TINYINT},
      need_assemble = #{needAssemble,jdbcType=BIT},
      assemble_tips = #{assembleTips,jdbcType=VARCHAR},
      is_fragile = #{isFragile,jdbcType=BIT},
      is_presale = #{isPresale,jdbcType=BIT},
      is_bundling = #{isBundling,jdbcType=BIT},
      product_status = #{productStatus,jdbcType=DECIMAL},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      on_shelf_time = #{onShelfTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>