<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.price.mapper.ProductPriceMapper">
    <resultMap id="BaseResultMap" type="com.wow.price.model.ProductPrice">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="sell_price" property="sellPrice" jdbcType="DECIMAL"/>
        <result column="cost_price" property="costPrice" jdbcType="DECIMAL"/>
        <result column="min_sell_price" property="minSellPrice" jdbcType="DECIMAL"/>
        <result column="benchmark_price" property="benchmarkPrice" jdbcType="DECIMAL"/>
        <result column="promo_price" property="promoPrice" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, product_id, sell_price, cost_price, min_sell_price, benchmark_price, promo_price,
        create_time, create_by, update_time, update_by, is_deleted
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from product_price
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insert" parameterType="com.wow.price.model.ProductPrice">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into product_price (product_id, sell_price, cost_price,
        min_sell_price, benchmark_price, promo_price,
        create_time, create_by, update_time,
        update_by, is_deleted)
        values (#{productId,jdbcType=INTEGER}, #{sellPrice,jdbcType=DECIMAL}, #{costPrice,jdbcType=DECIMAL},
        #{minSellPrice,jdbcType=DECIMAL}, #{benchmarkPrice,jdbcType=DECIMAL}, #{promoPrice,jdbcType=DECIMAL},
        #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.wow.price.model.ProductPrice">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into product_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="sellPrice != null">
                sell_price,
            </if>
            <if test="costPrice != null">
                cost_price,
            </if>
            <if test="minSellPrice != null">
                min_sell_price,
            </if>
            <if test="benchmarkPrice != null">
                benchmark_price,
            </if>
            <if test="promoPrice != null">
                promo_price,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="sellPrice != null">
                #{sellPrice,jdbcType=DECIMAL},
            </if>
            <if test="costPrice != null">
                #{costPrice,jdbcType=DECIMAL},
            </if>
            <if test="minSellPrice != null">
                #{minSellPrice,jdbcType=DECIMAL},
            </if>
            <if test="benchmarkPrice != null">
                #{benchmarkPrice,jdbcType=DECIMAL},
            </if>
            <if test="promoPrice != null">
                #{promoPrice,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
</mapper>