<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.order.mapper.DeliveryFeeTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.wow.order.model.DeliveryFeeTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="charging_rule" property="chargingRule" jdbcType="TINYINT" />
    <result column="is_shipping_free" property="isShippingFree" jdbcType="BIT" />
    <result column="shipping_free_min_amount" property="shippingFreeMinAmount" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, charging_rule, is_shipping_free, shipping_free_min_amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.order.model.DeliveryFeeTemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from delivery_fee_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from delivery_fee_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from delivery_fee_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.order.model.DeliveryFeeTemplateExample" >
    delete from delivery_fee_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.order.model.DeliveryFeeTemplate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into delivery_fee_template (charging_rule, is_shipping_free, shipping_free_min_amount
      )
    values (#{chargingRule,jdbcType=TINYINT}, #{isShippingFree,jdbcType=BIT}, #{shippingFreeMinAmount,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wow.order.model.DeliveryFeeTemplate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into delivery_fee_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chargingRule != null" >
        charging_rule,
      </if>
      <if test="isShippingFree != null" >
        is_shipping_free,
      </if>
      <if test="shippingFreeMinAmount != null" >
        shipping_free_min_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chargingRule != null" >
        #{chargingRule,jdbcType=TINYINT},
      </if>
      <if test="isShippingFree != null" >
        #{isShippingFree,jdbcType=BIT},
      </if>
      <if test="shippingFreeMinAmount != null" >
        #{shippingFreeMinAmount,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.order.model.DeliveryFeeTemplateExample" resultType="java.lang.Integer" >
    select count(*) from delivery_fee_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update delivery_fee_template
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.chargingRule != null" >
        charging_rule = #{record.chargingRule,jdbcType=TINYINT},
      </if>
      <if test="record.isShippingFree != null" >
        is_shipping_free = #{record.isShippingFree,jdbcType=BIT},
      </if>
      <if test="record.shippingFreeMinAmount != null" >
        shipping_free_min_amount = #{record.shippingFreeMinAmount,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update delivery_fee_template
    set id = #{record.id,jdbcType=INTEGER},
      charging_rule = #{record.chargingRule,jdbcType=TINYINT},
      is_shipping_free = #{record.isShippingFree,jdbcType=BIT},
      shipping_free_min_amount = #{record.shippingFreeMinAmount,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.order.model.DeliveryFeeTemplate" >
    update delivery_fee_template
    <set >
      <if test="chargingRule != null" >
        charging_rule = #{chargingRule,jdbcType=TINYINT},
      </if>
      <if test="isShippingFree != null" >
        is_shipping_free = #{isShippingFree,jdbcType=BIT},
      </if>
      <if test="shippingFreeMinAmount != null" >
        shipping_free_min_amount = #{shippingFreeMinAmount,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.order.model.DeliveryFeeTemplate" >
    update delivery_fee_template
    set charging_rule = #{chargingRule,jdbcType=TINYINT},
      is_shipping_free = #{isShippingFree,jdbcType=BIT},
      shipping_free_min_amount = #{shippingFreeMinAmount,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>