<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.order.mapper.ReturnOrderMapper" >
  <resultMap id="BaseResultMap" type="com.wow.order.model.ReturnOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="end_user_id" property="endUserId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_item" property="orderItem" jdbcType="INTEGER" />
    <result column="order_create_time" property="orderCreateTime" jdbcType="TIMESTAMP" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="return_type" property="returnType" jdbcType="TINYINT" />
    <result column="is_submit_by_end_user" property="isSubmitByEndUser" jdbcType="BIT" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="approve_time" property="approveTime" jdbcType="TIMESTAMP" />
    <result column="is_approved" property="isApproved" jdbcType="BIT" />
    <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
    <result column="return_order_code" property="returnOrderCode" jdbcType="VARCHAR" />
    <result column="need_refund" property="needRefund" jdbcType="BIT" />
    <result column="is_refunded" property="isRefunded" jdbcType="BIT" />
    <result column="is_goods_sent_back" property="isGoodsSentBack" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, end_user_id, order_id, order_item, order_create_time, receiver_name, receiver_mobile, 
    receiver_address, return_type, is_submit_by_end_user, submit_time, approve_time, 
    is_approved, reject_reason, return_order_code, need_refund, is_refunded, is_goods_sent_back, 
    create_time, create_by, update_time, update_by, is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.order.model.ReturnOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from return_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from return_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from return_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.order.model.ReturnOrderExample" >
    delete from return_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.order.model.ReturnOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into return_order (end_user_id, order_id, order_item, 
      order_create_time, receiver_name, receiver_mobile, 
      receiver_address, return_type, is_submit_by_end_user, 
      submit_time, approve_time, is_approved, 
      reject_reason, return_order_code, need_refund, 
      is_refunded, is_goods_sent_back, create_time, 
      create_by, update_time, update_by, 
      is_deleted)
    values (#{endUserId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{orderItem,jdbcType=INTEGER}, 
      #{orderCreateTime,jdbcType=TIMESTAMP}, #{receiverName,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, 
      #{receiverAddress,jdbcType=VARCHAR}, #{returnType,jdbcType=TINYINT}, #{isSubmitByEndUser,jdbcType=BIT}, 
      #{submitTime,jdbcType=TIMESTAMP}, #{approveTime,jdbcType=TIMESTAMP}, #{isApproved,jdbcType=BIT}, 
      #{rejectReason,jdbcType=VARCHAR}, #{returnOrderCode,jdbcType=VARCHAR}, #{needRefund,jdbcType=BIT}, 
      #{isRefunded,jdbcType=BIT}, #{isGoodsSentBack,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.wow.order.model.ReturnOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into return_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="endUserId != null" >
        end_user_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderItem != null" >
        order_item,
      </if>
      <if test="orderCreateTime != null" >
        order_create_time,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile,
      </if>
      <if test="receiverAddress != null" >
        receiver_address,
      </if>
      <if test="returnType != null" >
        return_type,
      </if>
      <if test="isSubmitByEndUser != null" >
        is_submit_by_end_user,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="approveTime != null" >
        approve_time,
      </if>
      <if test="isApproved != null" >
        is_approved,
      </if>
      <if test="rejectReason != null" >
        reject_reason,
      </if>
      <if test="returnOrderCode != null" >
        return_order_code,
      </if>
      <if test="needRefund != null" >
        need_refund,
      </if>
      <if test="isRefunded != null" >
        is_refunded,
      </if>
      <if test="isGoodsSentBack != null" >
        is_goods_sent_back,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="endUserId != null" >
        #{endUserId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderItem != null" >
        #{orderItem,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null" >
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="returnType != null" >
        #{returnType,jdbcType=TINYINT},
      </if>
      <if test="isSubmitByEndUser != null" >
        #{isSubmitByEndUser,jdbcType=BIT},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveTime != null" >
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isApproved != null" >
        #{isApproved,jdbcType=BIT},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="returnOrderCode != null" >
        #{returnOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="needRefund != null" >
        #{needRefund,jdbcType=BIT},
      </if>
      <if test="isRefunded != null" >
        #{isRefunded,jdbcType=BIT},
      </if>
      <if test="isGoodsSentBack != null" >
        #{isGoodsSentBack,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.order.model.ReturnOrderExample" resultType="java.lang.Integer" >
    select count(*) from return_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update return_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.endUserId != null" >
        end_user_id = #{record.endUserId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.orderItem != null" >
        order_item = #{record.orderItem,jdbcType=INTEGER},
      </if>
      <if test="record.orderCreateTime != null" >
        order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.receiverName != null" >
        receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverMobile != null" >
        receiver_mobile = #{record.receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverAddress != null" >
        receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.returnType != null" >
        return_type = #{record.returnType,jdbcType=TINYINT},
      </if>
      <if test="record.isSubmitByEndUser != null" >
        is_submit_by_end_user = #{record.isSubmitByEndUser,jdbcType=BIT},
      </if>
      <if test="record.submitTime != null" >
        submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.approveTime != null" >
        approve_time = #{record.approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isApproved != null" >
        is_approved = #{record.isApproved,jdbcType=BIT},
      </if>
      <if test="record.rejectReason != null" >
        reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="record.returnOrderCode != null" >
        return_order_code = #{record.returnOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.needRefund != null" >
        need_refund = #{record.needRefund,jdbcType=BIT},
      </if>
      <if test="record.isRefunded != null" >
        is_refunded = #{record.isRefunded,jdbcType=BIT},
      </if>
      <if test="record.isGoodsSentBack != null" >
        is_goods_sent_back = #{record.isGoodsSentBack,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update return_order
    set id = #{record.id,jdbcType=INTEGER},
      end_user_id = #{record.endUserId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      order_item = #{record.orderItem,jdbcType=INTEGER},
      order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      receiver_mobile = #{record.receiverMobile,jdbcType=VARCHAR},
      receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      return_type = #{record.returnType,jdbcType=TINYINT},
      is_submit_by_end_user = #{record.isSubmitByEndUser,jdbcType=BIT},
      submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      approve_time = #{record.approveTime,jdbcType=TIMESTAMP},
      is_approved = #{record.isApproved,jdbcType=BIT},
      reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      return_order_code = #{record.returnOrderCode,jdbcType=VARCHAR},
      need_refund = #{record.needRefund,jdbcType=BIT},
      is_refunded = #{record.isRefunded,jdbcType=BIT},
      is_goods_sent_back = #{record.isGoodsSentBack,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.order.model.ReturnOrder" >
    update return_order
    <set >
      <if test="endUserId != null" >
        end_user_id = #{endUserId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderItem != null" >
        order_item = #{orderItem,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null" >
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="returnType != null" >
        return_type = #{returnType,jdbcType=TINYINT},
      </if>
      <if test="isSubmitByEndUser != null" >
        is_submit_by_end_user = #{isSubmitByEndUser,jdbcType=BIT},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveTime != null" >
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isApproved != null" >
        is_approved = #{isApproved,jdbcType=BIT},
      </if>
      <if test="rejectReason != null" >
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="returnOrderCode != null" >
        return_order_code = #{returnOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="needRefund != null" >
        need_refund = #{needRefund,jdbcType=BIT},
      </if>
      <if test="isRefunded != null" >
        is_refunded = #{isRefunded,jdbcType=BIT},
      </if>
      <if test="isGoodsSentBack != null" >
        is_goods_sent_back = #{isGoodsSentBack,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.order.model.ReturnOrder" >
    update return_order
    set end_user_id = #{endUserId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      order_item = #{orderItem,jdbcType=INTEGER},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      return_type = #{returnType,jdbcType=TINYINT},
      is_submit_by_end_user = #{isSubmitByEndUser,jdbcType=BIT},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      approve_time = #{approveTime,jdbcType=TIMESTAMP},
      is_approved = #{isApproved,jdbcType=BIT},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      return_order_code = #{returnOrderCode,jdbcType=VARCHAR},
      need_refund = #{needRefund,jdbcType=BIT},
      is_refunded = #{isRefunded,jdbcType=BIT},
      is_goods_sent_back = #{isGoodsSentBack,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>