<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.order.mapper.SaleOrderMapper" >
  <resultMap id="BaseResultMap" type="com.wow.order.model.SaleOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="end_user_id" property="endUserId" jdbcType="INTEGER" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="product_amount" property="productAmount" jdbcType="DECIMAL" />
    <result column="delivery_fee" property="deliveryFee" jdbcType="DECIMAL" />
    <result column="coupon_amount" property="couponAmount" jdbcType="DECIMAL" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_province" property="receiverProvince" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_county" property="receiverCounty" jdbcType="VARCHAR" />
    <result column="receiver_town" property="receiverTown" jdbcType="VARCHAR" />
    <result column="receiver_postcode" property="receiverPostcode" jdbcType="CHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="end_user_remarks" property="endUserRemarks" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="payment_status" property="paymentStatus" jdbcType="TINYINT" />
    <result column="payment_method" property="paymentMethod" jdbcType="TINYINT" />
    <result column="paid_time" property="paidTime" jdbcType="TIMESTAMP" />
    <result column="is_use_coupon" property="isUseCoupon" jdbcType="BIT" />
    <result column="end_user_coupon_id" property="endUserCouponId" jdbcType="INTEGER" />
    <result column="delivery_mothod" property="deliveryMothod" jdbcType="TINYINT" />
    <result column="delivery_company_name" property="deliveryCompanyName" jdbcType="VARCHAR" />
    <result column="delivery_order_no" property="deliveryOrderNo" jdbcType="VARCHAR" />
    <result column="delivery_date" property="deliveryDate" jdbcType="TIMESTAMP" />
    <result column="goods_status" property="goodsStatus" jdbcType="TINYINT" />
    <result column="delivery_failure_reason" property="deliveryFailureReason" jdbcType="TINYINT" />
    <result column="receive_date" property="receiveDate" jdbcType="TIMESTAMP" />
    <result column="return_on_delivery" property="returnOnDelivery" jdbcType="BIT" />
    <result column="cancel_request_time" property="cancelRequestTime" jdbcType="TIMESTAMP" />
    <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
    <result column="cancel_approved_time" property="cancelApprovedTime" jdbcType="TIMESTAMP" />
    <result column="refund_approval_status" property="refundApprovalStatus" jdbcType="TINYINT" />
    <result column="refund_approval_time" property="refundApprovalTime" jdbcType="TIMESTAMP" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="is_leaf" property="isLeaf" jdbcType="BIT" />
    <result column="parent_order_id" property="parentOrderId" jdbcType="INTEGER" />
    <result column="order_source" property="orderSource" jdbcType="TINYINT" />
    <result column="order_ip" property="orderIp" jdbcType="INTEGER" />
    <result column="seller_remarks" property="sellerRemarks" jdbcType="VARCHAR" />
    <result column="order_create_time" property="orderCreateTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_code, end_user_id, order_amount, product_amount, delivery_fee, coupon_amount, 
    receiver_name, receiver_province, receiver_city, receiver_county, receiver_town, 
    receiver_postcode, receiver_address, receiver_mobile, end_user_remarks, order_status, 
    payment_status, payment_method, paid_time, is_use_coupon, end_user_coupon_id, delivery_mothod, 
    delivery_company_name, delivery_order_no, delivery_date, goods_status, delivery_failure_reason, 
    receive_date, return_on_delivery, cancel_request_time, cancel_reason, cancel_approved_time, 
    refund_approval_status, refund_approval_time, operator_name, is_leaf, parent_order_id, 
    order_source, order_ip, seller_remarks, order_create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.order.model.SaleOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sale_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sale_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sale_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.order.model.SaleOrderExample" >
    delete from sale_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.order.model.SaleOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sale_order (order_code, end_user_id, order_amount, 
      product_amount, delivery_fee, coupon_amount, 
      receiver_name, receiver_province, receiver_city, 
      receiver_county, receiver_town, receiver_postcode, 
      receiver_address, receiver_mobile, end_user_remarks, 
      order_status, payment_status, payment_method, 
      paid_time, is_use_coupon, end_user_coupon_id, 
      delivery_mothod, delivery_company_name, delivery_order_no, 
      delivery_date, goods_status, delivery_failure_reason, 
      receive_date, return_on_delivery, cancel_request_time, 
      cancel_reason, cancel_approved_time, refund_approval_status, 
      refund_approval_time, operator_name, is_leaf, 
      parent_order_id, order_source, order_ip, 
      seller_remarks, order_create_time, update_time
      )
    values (#{orderCode,jdbcType=VARCHAR}, #{endUserId,jdbcType=INTEGER}, #{orderAmount,jdbcType=DECIMAL}, 
      #{productAmount,jdbcType=DECIMAL}, #{deliveryFee,jdbcType=DECIMAL}, #{couponAmount,jdbcType=DECIMAL}, 
      #{receiverName,jdbcType=VARCHAR}, #{receiverProvince,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, 
      #{receiverCounty,jdbcType=VARCHAR}, #{receiverTown,jdbcType=VARCHAR}, #{receiverPostcode,jdbcType=CHAR}, 
      #{receiverAddress,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, #{endUserRemarks,jdbcType=VARCHAR}, 
      #{orderStatus,jdbcType=TINYINT}, #{paymentStatus,jdbcType=TINYINT}, #{paymentMethod,jdbcType=TINYINT}, 
      #{paidTime,jdbcType=TIMESTAMP}, #{isUseCoupon,jdbcType=BIT}, #{endUserCouponId,jdbcType=INTEGER}, 
      #{deliveryMothod,jdbcType=TINYINT}, #{deliveryCompanyName,jdbcType=VARCHAR}, #{deliveryOrderNo,jdbcType=VARCHAR}, 
      #{deliveryDate,jdbcType=TIMESTAMP}, #{goodsStatus,jdbcType=TINYINT}, #{deliveryFailureReason,jdbcType=TINYINT}, 
      #{receiveDate,jdbcType=TIMESTAMP}, #{returnOnDelivery,jdbcType=BIT}, #{cancelRequestTime,jdbcType=TIMESTAMP}, 
      #{cancelReason,jdbcType=VARCHAR}, #{cancelApprovedTime,jdbcType=TIMESTAMP}, #{refundApprovalStatus,jdbcType=TINYINT}, 
      #{refundApprovalTime,jdbcType=TIMESTAMP}, #{operatorName,jdbcType=VARCHAR}, #{isLeaf,jdbcType=BIT}, 
      #{parentOrderId,jdbcType=INTEGER}, #{orderSource,jdbcType=TINYINT}, #{orderIp,jdbcType=INTEGER}, 
      #{sellerRemarks,jdbcType=VARCHAR}, #{orderCreateTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wow.order.model.SaleOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sale_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="endUserId != null" >
        end_user_id,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="productAmount != null" >
        product_amount,
      </if>
      <if test="deliveryFee != null" >
        delivery_fee,
      </if>
      <if test="couponAmount != null" >
        coupon_amount,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverProvince != null" >
        receiver_province,
      </if>
      <if test="receiverCity != null" >
        receiver_city,
      </if>
      <if test="receiverCounty != null" >
        receiver_county,
      </if>
      <if test="receiverTown != null" >
        receiver_town,
      </if>
      <if test="receiverPostcode != null" >
        receiver_postcode,
      </if>
      <if test="receiverAddress != null" >
        receiver_address,
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile,
      </if>
      <if test="endUserRemarks != null" >
        end_user_remarks,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="paymentStatus != null" >
        payment_status,
      </if>
      <if test="paymentMethod != null" >
        payment_method,
      </if>
      <if test="paidTime != null" >
        paid_time,
      </if>
      <if test="isUseCoupon != null" >
        is_use_coupon,
      </if>
      <if test="endUserCouponId != null" >
        end_user_coupon_id,
      </if>
      <if test="deliveryMothod != null" >
        delivery_mothod,
      </if>
      <if test="deliveryCompanyName != null" >
        delivery_company_name,
      </if>
      <if test="deliveryOrderNo != null" >
        delivery_order_no,
      </if>
      <if test="deliveryDate != null" >
        delivery_date,
      </if>
      <if test="goodsStatus != null" >
        goods_status,
      </if>
      <if test="deliveryFailureReason != null" >
        delivery_failure_reason,
      </if>
      <if test="receiveDate != null" >
        receive_date,
      </if>
      <if test="returnOnDelivery != null" >
        return_on_delivery,
      </if>
      <if test="cancelRequestTime != null" >
        cancel_request_time,
      </if>
      <if test="cancelReason != null" >
        cancel_reason,
      </if>
      <if test="cancelApprovedTime != null" >
        cancel_approved_time,
      </if>
      <if test="refundApprovalStatus != null" >
        refund_approval_status,
      </if>
      <if test="refundApprovalTime != null" >
        refund_approval_time,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="isLeaf != null" >
        is_leaf,
      </if>
      <if test="parentOrderId != null" >
        parent_order_id,
      </if>
      <if test="orderSource != null" >
        order_source,
      </if>
      <if test="orderIp != null" >
        order_ip,
      </if>
      <if test="sellerRemarks != null" >
        seller_remarks,
      </if>
      <if test="orderCreateTime != null" >
        order_create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="endUserId != null" >
        #{endUserId,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="productAmount != null" >
        #{productAmount,jdbcType=DECIMAL},
      </if>
      <if test="deliveryFee != null" >
        #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="couponAmount != null" >
        #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null" >
        #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverCounty != null" >
        #{receiverCounty,jdbcType=VARCHAR},
      </if>
      <if test="receiverTown != null" >
        #{receiverTown,jdbcType=VARCHAR},
      </if>
      <if test="receiverPostcode != null" >
        #{receiverPostcode,jdbcType=CHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="endUserRemarks != null" >
        #{endUserRemarks,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="paymentStatus != null" >
        #{paymentStatus,jdbcType=TINYINT},
      </if>
      <if test="paymentMethod != null" >
        #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="paidTime != null" >
        #{paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUseCoupon != null" >
        #{isUseCoupon,jdbcType=BIT},
      </if>
      <if test="endUserCouponId != null" >
        #{endUserCouponId,jdbcType=INTEGER},
      </if>
      <if test="deliveryMothod != null" >
        #{deliveryMothod,jdbcType=TINYINT},
      </if>
      <if test="deliveryCompanyName != null" >
        #{deliveryCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryOrderNo != null" >
        #{deliveryOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsStatus != null" >
        #{goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="deliveryFailureReason != null" >
        #{deliveryFailureReason,jdbcType=TINYINT},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="returnOnDelivery != null" >
        #{returnOnDelivery,jdbcType=BIT},
      </if>
      <if test="cancelRequestTime != null" >
        #{cancelRequestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelReason != null" >
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelApprovedTime != null" >
        #{cancelApprovedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundApprovalStatus != null" >
        #{refundApprovalStatus,jdbcType=TINYINT},
      </if>
      <if test="refundApprovalTime != null" >
        #{refundApprovalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null" >
        #{isLeaf,jdbcType=BIT},
      </if>
      <if test="parentOrderId != null" >
        #{parentOrderId,jdbcType=INTEGER},
      </if>
      <if test="orderSource != null" >
        #{orderSource,jdbcType=TINYINT},
      </if>
      <if test="orderIp != null" >
        #{orderIp,jdbcType=INTEGER},
      </if>
      <if test="sellerRemarks != null" >
        #{sellerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null" >
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.order.model.SaleOrderExample" resultType="java.lang.Integer" >
    select count(*) from sale_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sale_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderCode != null" >
        order_code = #{record.orderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.endUserId != null" >
        end_user_id = #{record.endUserId,jdbcType=INTEGER},
      </if>
      <if test="record.orderAmount != null" >
        order_amount = #{record.orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.productAmount != null" >
        product_amount = #{record.productAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.deliveryFee != null" >
        delivery_fee = #{record.deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="record.couponAmount != null" >
        coupon_amount = #{record.couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.receiverName != null" >
        receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverProvince != null" >
        receiver_province = #{record.receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverCity != null" >
        receiver_city = #{record.receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverCounty != null" >
        receiver_county = #{record.receiverCounty,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverTown != null" >
        receiver_town = #{record.receiverTown,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverPostcode != null" >
        receiver_postcode = #{record.receiverPostcode,jdbcType=CHAR},
      </if>
      <if test="record.receiverAddress != null" >
        receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverMobile != null" >
        receiver_mobile = #{record.receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.endUserRemarks != null" >
        end_user_remarks = #{record.endUserRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=TINYINT},
      </if>
      <if test="record.paymentStatus != null" >
        payment_status = #{record.paymentStatus,jdbcType=TINYINT},
      </if>
      <if test="record.paymentMethod != null" >
        payment_method = #{record.paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="record.paidTime != null" >
        paid_time = #{record.paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isUseCoupon != null" >
        is_use_coupon = #{record.isUseCoupon,jdbcType=BIT},
      </if>
      <if test="record.endUserCouponId != null" >
        end_user_coupon_id = #{record.endUserCouponId,jdbcType=INTEGER},
      </if>
      <if test="record.deliveryMothod != null" >
        delivery_mothod = #{record.deliveryMothod,jdbcType=TINYINT},
      </if>
      <if test="record.deliveryCompanyName != null" >
        delivery_company_name = #{record.deliveryCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryOrderNo != null" >
        delivery_order_no = #{record.deliveryOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryDate != null" >
        delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsStatus != null" >
        goods_status = #{record.goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="record.deliveryFailureReason != null" >
        delivery_failure_reason = #{record.deliveryFailureReason,jdbcType=TINYINT},
      </if>
      <if test="record.receiveDate != null" >
        receive_date = #{record.receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.returnOnDelivery != null" >
        return_on_delivery = #{record.returnOnDelivery,jdbcType=BIT},
      </if>
      <if test="record.cancelRequestTime != null" >
        cancel_request_time = #{record.cancelRequestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cancelReason != null" >
        cancel_reason = #{record.cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelApprovedTime != null" >
        cancel_approved_time = #{record.cancelApprovedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.refundApprovalStatus != null" >
        refund_approval_status = #{record.refundApprovalStatus,jdbcType=TINYINT},
      </if>
      <if test="record.refundApprovalTime != null" >
        refund_approval_time = #{record.refundApprovalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatorName != null" >
        operator_name = #{record.operatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.isLeaf != null" >
        is_leaf = #{record.isLeaf,jdbcType=BIT},
      </if>
      <if test="record.parentOrderId != null" >
        parent_order_id = #{record.parentOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.orderSource != null" >
        order_source = #{record.orderSource,jdbcType=TINYINT},
      </if>
      <if test="record.orderIp != null" >
        order_ip = #{record.orderIp,jdbcType=INTEGER},
      </if>
      <if test="record.sellerRemarks != null" >
        seller_remarks = #{record.sellerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCreateTime != null" >
        order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sale_order
    set id = #{record.id,jdbcType=INTEGER},
      order_code = #{record.orderCode,jdbcType=VARCHAR},
      end_user_id = #{record.endUserId,jdbcType=INTEGER},
      order_amount = #{record.orderAmount,jdbcType=DECIMAL},
      product_amount = #{record.productAmount,jdbcType=DECIMAL},
      delivery_fee = #{record.deliveryFee,jdbcType=DECIMAL},
      coupon_amount = #{record.couponAmount,jdbcType=DECIMAL},
      receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      receiver_province = #{record.receiverProvince,jdbcType=VARCHAR},
      receiver_city = #{record.receiverCity,jdbcType=VARCHAR},
      receiver_county = #{record.receiverCounty,jdbcType=VARCHAR},
      receiver_town = #{record.receiverTown,jdbcType=VARCHAR},
      receiver_postcode = #{record.receiverPostcode,jdbcType=CHAR},
      receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      receiver_mobile = #{record.receiverMobile,jdbcType=VARCHAR},
      end_user_remarks = #{record.endUserRemarks,jdbcType=VARCHAR},
      order_status = #{record.orderStatus,jdbcType=TINYINT},
      payment_status = #{record.paymentStatus,jdbcType=TINYINT},
      payment_method = #{record.paymentMethod,jdbcType=TINYINT},
      paid_time = #{record.paidTime,jdbcType=TIMESTAMP},
      is_use_coupon = #{record.isUseCoupon,jdbcType=BIT},
      end_user_coupon_id = #{record.endUserCouponId,jdbcType=INTEGER},
      delivery_mothod = #{record.deliveryMothod,jdbcType=TINYINT},
      delivery_company_name = #{record.deliveryCompanyName,jdbcType=VARCHAR},
      delivery_order_no = #{record.deliveryOrderNo,jdbcType=VARCHAR},
      delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      goods_status = #{record.goodsStatus,jdbcType=TINYINT},
      delivery_failure_reason = #{record.deliveryFailureReason,jdbcType=TINYINT},
      receive_date = #{record.receiveDate,jdbcType=TIMESTAMP},
      return_on_delivery = #{record.returnOnDelivery,jdbcType=BIT},
      cancel_request_time = #{record.cancelRequestTime,jdbcType=TIMESTAMP},
      cancel_reason = #{record.cancelReason,jdbcType=VARCHAR},
      cancel_approved_time = #{record.cancelApprovedTime,jdbcType=TIMESTAMP},
      refund_approval_status = #{record.refundApprovalStatus,jdbcType=TINYINT},
      refund_approval_time = #{record.refundApprovalTime,jdbcType=TIMESTAMP},
      operator_name = #{record.operatorName,jdbcType=VARCHAR},
      is_leaf = #{record.isLeaf,jdbcType=BIT},
      parent_order_id = #{record.parentOrderId,jdbcType=INTEGER},
      order_source = #{record.orderSource,jdbcType=TINYINT},
      order_ip = #{record.orderIp,jdbcType=INTEGER},
      seller_remarks = #{record.sellerRemarks,jdbcType=VARCHAR},
      order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.order.model.SaleOrder" >
    update sale_order
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="endUserId != null" >
        end_user_id = #{endUserId,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="productAmount != null" >
        product_amount = #{productAmount,jdbcType=DECIMAL},
      </if>
      <if test="deliveryFee != null" >
        delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="couponAmount != null" >
        coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null" >
        receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverCounty != null" >
        receiver_county = #{receiverCounty,jdbcType=VARCHAR},
      </if>
      <if test="receiverTown != null" >
        receiver_town = #{receiverTown,jdbcType=VARCHAR},
      </if>
      <if test="receiverPostcode != null" >
        receiver_postcode = #{receiverPostcode,jdbcType=CHAR},
      </if>
      <if test="receiverAddress != null" >
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="endUserRemarks != null" >
        end_user_remarks = #{endUserRemarks,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="paymentStatus != null" >
        payment_status = #{paymentStatus,jdbcType=TINYINT},
      </if>
      <if test="paymentMethod != null" >
        payment_method = #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="paidTime != null" >
        paid_time = #{paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUseCoupon != null" >
        is_use_coupon = #{isUseCoupon,jdbcType=BIT},
      </if>
      <if test="endUserCouponId != null" >
        end_user_coupon_id = #{endUserCouponId,jdbcType=INTEGER},
      </if>
      <if test="deliveryMothod != null" >
        delivery_mothod = #{deliveryMothod,jdbcType=TINYINT},
      </if>
      <if test="deliveryCompanyName != null" >
        delivery_company_name = #{deliveryCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryOrderNo != null" >
        delivery_order_no = #{deliveryOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsStatus != null" >
        goods_status = #{goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="deliveryFailureReason != null" >
        delivery_failure_reason = #{deliveryFailureReason,jdbcType=TINYINT},
      </if>
      <if test="receiveDate != null" >
        receive_date = #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="returnOnDelivery != null" >
        return_on_delivery = #{returnOnDelivery,jdbcType=BIT},
      </if>
      <if test="cancelRequestTime != null" >
        cancel_request_time = #{cancelRequestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelReason != null" >
        cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelApprovedTime != null" >
        cancel_approved_time = #{cancelApprovedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundApprovalStatus != null" >
        refund_approval_status = #{refundApprovalStatus,jdbcType=TINYINT},
      </if>
      <if test="refundApprovalTime != null" >
        refund_approval_time = #{refundApprovalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null" >
        is_leaf = #{isLeaf,jdbcType=BIT},
      </if>
      <if test="parentOrderId != null" >
        parent_order_id = #{parentOrderId,jdbcType=INTEGER},
      </if>
      <if test="orderSource != null" >
        order_source = #{orderSource,jdbcType=TINYINT},
      </if>
      <if test="orderIp != null" >
        order_ip = #{orderIp,jdbcType=INTEGER},
      </if>
      <if test="sellerRemarks != null" >
        seller_remarks = #{sellerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null" >
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.order.model.SaleOrder" >
    update sale_order
    set order_code = #{orderCode,jdbcType=VARCHAR},
      end_user_id = #{endUserId,jdbcType=INTEGER},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      product_amount = #{productAmount,jdbcType=DECIMAL},
      delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_county = #{receiverCounty,jdbcType=VARCHAR},
      receiver_town = #{receiverTown,jdbcType=VARCHAR},
      receiver_postcode = #{receiverPostcode,jdbcType=CHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      end_user_remarks = #{endUserRemarks,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=TINYINT},
      payment_status = #{paymentStatus,jdbcType=TINYINT},
      payment_method = #{paymentMethod,jdbcType=TINYINT},
      paid_time = #{paidTime,jdbcType=TIMESTAMP},
      is_use_coupon = #{isUseCoupon,jdbcType=BIT},
      end_user_coupon_id = #{endUserCouponId,jdbcType=INTEGER},
      delivery_mothod = #{deliveryMothod,jdbcType=TINYINT},
      delivery_company_name = #{deliveryCompanyName,jdbcType=VARCHAR},
      delivery_order_no = #{deliveryOrderNo,jdbcType=VARCHAR},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      goods_status = #{goodsStatus,jdbcType=TINYINT},
      delivery_failure_reason = #{deliveryFailureReason,jdbcType=TINYINT},
      receive_date = #{receiveDate,jdbcType=TIMESTAMP},
      return_on_delivery = #{returnOnDelivery,jdbcType=BIT},
      cancel_request_time = #{cancelRequestTime,jdbcType=TIMESTAMP},
      cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      cancel_approved_time = #{cancelApprovedTime,jdbcType=TIMESTAMP},
      refund_approval_status = #{refundApprovalStatus,jdbcType=TINYINT},
      refund_approval_time = #{refundApprovalTime,jdbcType=TIMESTAMP},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      is_leaf = #{isLeaf,jdbcType=BIT},
      parent_order_id = #{parentOrderId,jdbcType=INTEGER},
      order_source = #{orderSource,jdbcType=TINYINT},
      order_ip = #{orderIp,jdbcType=INTEGER},
      seller_remarks = #{sellerRemarks,jdbcType=VARCHAR},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>