<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wow.marketing.mapper.EndUserCouponMapper" >
  <resultMap id="BaseResultMap" type="com.wow.marketing.model.EndUserCoupon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="end_user_id" property="endUserId" jdbcType="INTEGER" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="is_used" property="isUsed" jdbcType="BIT" />
    <result column="is_expired" property="isExpired" jdbcType="BIT" />
    <result column="bind_time" property="bindTime" jdbcType="TIMESTAMP" />
    <result column="used_time" property="usedTime" jdbcType="TIMESTAMP" />
    <result column="is_return" property="isReturn" jdbcType="BIT" />
    <result column="return_time" property="returnTime" jdbcType="TIMESTAMP" />
    <result column="bind_order_id" property="bindOrderId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, end_user_id, coupon_id, is_used, is_expired, bind_time, used_time, is_return, 
    return_time, bind_order_id, is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wow.marketing.model.EndUserCouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from end_user_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from end_user_coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from end_user_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wow.marketing.model.EndUserCouponExample" >
    delete from end_user_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wow.marketing.model.EndUserCoupon" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into end_user_coupon (end_user_id, coupon_id, is_used, 
      is_expired, bind_time, used_time, 
      is_return, return_time, bind_order_id, 
      is_deleted)
    values (#{endUserId,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER}, #{isUsed,jdbcType=BIT}, 
      #{isExpired,jdbcType=BIT}, #{bindTime,jdbcType=TIMESTAMP}, #{usedTime,jdbcType=TIMESTAMP}, 
      #{isReturn,jdbcType=BIT}, #{returnTime,jdbcType=TIMESTAMP}, #{bindOrderId,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.wow.marketing.model.EndUserCoupon" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into end_user_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="endUserId != null" >
        end_user_id,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="isUsed != null" >
        is_used,
      </if>
      <if test="isExpired != null" >
        is_expired,
      </if>
      <if test="bindTime != null" >
        bind_time,
      </if>
      <if test="usedTime != null" >
        used_time,
      </if>
      <if test="isReturn != null" >
        is_return,
      </if>
      <if test="returnTime != null" >
        return_time,
      </if>
      <if test="bindOrderId != null" >
        bind_order_id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="endUserId != null" >
        #{endUserId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="isUsed != null" >
        #{isUsed,jdbcType=BIT},
      </if>
      <if test="isExpired != null" >
        #{isExpired,jdbcType=BIT},
      </if>
      <if test="bindTime != null" >
        #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usedTime != null" >
        #{usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isReturn != null" >
        #{isReturn,jdbcType=BIT},
      </if>
      <if test="returnTime != null" >
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindOrderId != null" >
        #{bindOrderId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wow.marketing.model.EndUserCouponExample" resultType="java.lang.Integer" >
    select count(*) from end_user_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update end_user_coupon
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.endUserId != null" >
        end_user_id = #{record.endUserId,jdbcType=INTEGER},
      </if>
      <if test="record.couponId != null" >
        coupon_id = #{record.couponId,jdbcType=INTEGER},
      </if>
      <if test="record.isUsed != null" >
        is_used = #{record.isUsed,jdbcType=BIT},
      </if>
      <if test="record.isExpired != null" >
        is_expired = #{record.isExpired,jdbcType=BIT},
      </if>
      <if test="record.bindTime != null" >
        bind_time = #{record.bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usedTime != null" >
        used_time = #{record.usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isReturn != null" >
        is_return = #{record.isReturn,jdbcType=BIT},
      </if>
      <if test="record.returnTime != null" >
        return_time = #{record.returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bindOrderId != null" >
        bind_order_id = #{record.bindOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update end_user_coupon
    set id = #{record.id,jdbcType=INTEGER},
      end_user_id = #{record.endUserId,jdbcType=INTEGER},
      coupon_id = #{record.couponId,jdbcType=INTEGER},
      is_used = #{record.isUsed,jdbcType=BIT},
      is_expired = #{record.isExpired,jdbcType=BIT},
      bind_time = #{record.bindTime,jdbcType=TIMESTAMP},
      used_time = #{record.usedTime,jdbcType=TIMESTAMP},
      is_return = #{record.isReturn,jdbcType=BIT},
      return_time = #{record.returnTime,jdbcType=TIMESTAMP},
      bind_order_id = #{record.bindOrderId,jdbcType=INTEGER},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wow.marketing.model.EndUserCoupon" >
    update end_user_coupon
    <set >
      <if test="endUserId != null" >
        end_user_id = #{endUserId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="isUsed != null" >
        is_used = #{isUsed,jdbcType=BIT},
      </if>
      <if test="isExpired != null" >
        is_expired = #{isExpired,jdbcType=BIT},
      </if>
      <if test="bindTime != null" >
        bind_time = #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usedTime != null" >
        used_time = #{usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isReturn != null" >
        is_return = #{isReturn,jdbcType=BIT},
      </if>
      <if test="returnTime != null" >
        return_time = #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindOrderId != null" >
        bind_order_id = #{bindOrderId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wow.marketing.model.EndUserCoupon" >
    update end_user_coupon
    set end_user_id = #{endUserId,jdbcType=INTEGER},
      coupon_id = #{couponId,jdbcType=INTEGER},
      is_used = #{isUsed,jdbcType=BIT},
      is_expired = #{isExpired,jdbcType=BIT},
      bind_time = #{bindTime,jdbcType=TIMESTAMP},
      used_time = #{usedTime,jdbcType=TIMESTAMP},
      is_return = #{isReturn,jdbcType=BIT},
      return_time = #{returnTime,jdbcType=TIMESTAMP},
      bind_order_id = #{bindOrderId,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>